            <footer>

            </footer>

            <!-- Main js file -->
            <script src="js/main.js"></script>
            <script src="js/home.js"></script>
        </section>
        <div class="modal fade" id="productEditModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                    </div>
                    <div class="modal-body">
                        <section class="boxWrap">
                            <div class="box">
                                <div class="boxBody">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#productEdit-en" data-toggle="tab">En</a></li>
                                        <li><a href="#productEdit-image" data-toggle="tab">Image</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="productEdit-en">
                                            <div class="form-group">
                                                <label>Translation</label>
                                                <div class="form-group-in">
                                                    <div class="mtCheckbox mtCheckbox-sm pull-left">
                                                        <label>
                                                            <input type="checkbox" checked />
                                                            <span>En</span>
                                                        </label>
                                                    </div>
                                                    <div class="mtCheckbox mtCheckbox-sm pull-left">
                                                        <label>
                                                            <input type="checkbox" />
                                                            <span>Ru</span>
                                                        </label>
                                                    </div>
                                                    <div class="mtCheckbox mtCheckbox-sm pull-left">
                                                        <label>
                                                            <input type="checkbox" />
                                                            <span>Fr</span>
                                                        </label>
                                                    </div>
                                                    <div class="mtCheckbox mtCheckbox-sm pull-left">
                                                        <label>
                                                            <input type="checkbox" />
                                                            <span>De</span>
                                                        </label>
                                                    </div>
                                                    <div class="mtCheckbox mtCheckbox-sm pull-left">
                                                        <label>
                                                            <input type="checkbox" />
                                                            <span>It</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="productEdit-parentId">Parent ID</label>
                                                        <select id="productEdit-parentId" class="selectize">
                                                            <option value="0" selected>No Parent</option>
                                                            <option value="1">Parent 1</option>
                                                            <option value="2">Parent 2</option>
                                                            <option value="3">Parent 3</option>
                                                            <option value="4">Parent 4</option>
                                                            <option value="5">Parent 5</option>
                                                            <option value="6">Parent 6</option>
                                                            <option value="7">Parent 7</option>
                                                            <option value="8">Parent 8</option>
                                                            <option value="9">Parent 9</option>
                                                            <option value="10">Parent 10</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="productEdit-name">Name</label>
                                                        <input id="productEdit-name" value="Product Name" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="productEdit-description">Description</label>
                                                <textarea id="productEdit-description" cols="" rows="4" class="form-control">Product is an informative, entertaining portal about Lorem Ipsum.</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="productEdit-url">URL</label>
                                                <input id="productEdit-url" value="http://product.com" type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <label for="productEdit-tags">Tags (separated with commas)</label>
                                                <input type="text" id="productEdit-tags" value="tag1,tag2,Lenin,Stalin" class="selectize-tags" />
                                            </div>
                                            <div class="form-group">
                                                <div class="form-group-in">
                                                    <div class="mtCheckbox">
                                                        <label>
                                                            <input type="checkbox" checked />
                                                            <span>Visible</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="productEdit-image">
                                            <div class="form-group">
                                                <table class="table table-bordered table-valignM">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th colspan="2">Path</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td><a href="#">1.jpg</a></td>
                                                            <td><button class="btn btn-danger btn-flat" title="Delete"><i class="fa fa-trash-o"></i></button></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="productEdit-imageUploader">
                                                <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success btn-flat">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Example</h4>
                        </div>
                        <div class="modal-body">
                            <section class="boxWrap">
                                <div class="box">
                                    <div class="boxBody">
                                        <div class="form-group">
                                            <button data-target="#exampleModalCollapse" aria-controls="exampleModalCollapse" class="btn btn-default btn-flat" type="button" data-toggle="collapse" aria-expanded="false">
                                                Collapse
                                            </button>
                                        </div>
                                        <div class="collapse" id="exampleModalCollapse">
                                            <div class="form-group" >
                                                <div id="exampleModal-imageUploader">
                                                    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success btn-flat">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        <div class="modal fade" id="exampleModalTwo" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                    </div>
                    <div class="modal-body">
                        <section class="boxWrap">
                            <div class="box">
                                <div class="boxBody">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#exampleModalTwo-en" data-toggle="tab">En</a></li>
                                        <li><a href="#exampleModalTwo-image" data-toggle="tab">Image</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="exampleModalTwo-en">
                                            <div class="modalImgListWrap">
                                                <h2>Cover Image List</h2>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-4">
                                                        <div class="modalImg">
                                                            <img src="img/users/user-7.jpg" alt="" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-8">
                                                        <div class="modalImgTools">
                                                            <div class="modalImgDesc">
                                                                <ul>
                                                                    <li>Title: Garni</li>
                                                                    <li>Dimensions: 1200 x 1200</li>
                                                                    <li>Thumbnail: 300 x 300</li>
                                                                </ul>
                                                            </div>
                                                            <div class="modalImgBtns">
                                                                <div class="btn-group">
                                                                    <button class="btn btn-info btn-flat" title="Create Thumbnail"><i class="fa fa-crop"></i></button>
                                                                    <button class="btn btn-info btn-flat" title="Manual Resize"><i class="fa fa-arrows-h"></i></button>
                                                                    <button class="btn btn-info btn-flat" title="Edit Title"><i class="fa fa-edit"></i></button>
                                                                    <button class="btn btn-info btn-flat" title="Remove"><i class="fa fa-trash-o"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="exampleModalTwo-image">
                                            <div class="form-group">
                                                <table class="table table-bordered table-valignM">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th colspan="2">Path</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td><a href="#">1.jpg</a></td>
                                                        <td><button class="btn btn-danger btn-flat" title="Delete"><i class="fa fa-trash-o"></i></button></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success btn-flat">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // Initialize the widget when the DOM is ready
            $(function() {
                // Setup html5 version
                $("#productEdit-imageUploader").pluploadQueue({
                    // General settings
                    runtimes : 'html5,flash,silverlight,html4',
                    url : "/examples/upload",

                    chunk_size : '1mb',
                    rename : true,
                    dragdrop: true,

                    filters : {
                        // Maximum file size
                        max_file_size : '10mb',
                        // Specify what files to browse for
                        mime_types: [
                            {title : "Image files", extensions : "jpg,gif,png"},
                            {title : "Zip files", extensions : "zip"}
                        ]
                    },

                    // Resize images on clientside if we can
                    resize: {
                        width : 200,
                        height : 200,
                        quality : 90,
                        crop: true // crop to exact dimensions
                    },


                    // Flash settings
                    flash_swf_url : '/plupload/js/Moxie.swf',

                    // Silverlight settings
                    silverlight_xap_url : '/plupload/js/Moxie.xap'
                });
                $("#exampleModal-imageUploader").pluploadQueue({
                    // General settings
                    runtimes : 'html5,flash,silverlight,html4',
                    url : "/examples/upload",

                    chunk_size : '1mb',
                    rename : true,
                    dragdrop: true,

                    filters : {
                        // Maximum file size
                        max_file_size : '10mb',
                        // Specify what files to browse for
                        mime_types: [
                            {title : "Image files", extensions : "jpg,gif,png"},
                            {title : "Zip files", extensions : "zip"}
                        ]
                    },

                    // Resize images on clientside if we can
                    resize: {
                        width : 200,
                        height : 200,
                        quality : 90,
                        crop: true // crop to exact dimensions
                    },


                    // Flash settings
                    flash_swf_url : '/plupload/js/Moxie.swf',

                    // Silverlight settings
                    silverlight_xap_url : '/plupload/js/Moxie.xap'
                });
            });
        </script>
    </body>
</html>