<% var userName = "Grzegorz Brzeczyszczykiewicz"; %>

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title><%= pageTitle %></title>
        <meta name="description" content="<%= pageDescription %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/jquery-2.2.1.min.js"></script>
        <script src="js/vendor/jquery-ui-1.11.4.min.js"></script>
        <script src="js/vendor/moment-with-locales.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/selectize/selectize.min.js"></script>
        <script src="js/vendor/daterangepicker.js"></script>
        <script src="js/vendor/tinymce/tinymce.min.js"></script>
        <script src="js/vendor/plupload/plupload.full.min.js"></script>
        <script src="js/vendor/plupload/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
        <script src="js/vendor/nouislider/nouislider.min.js"></script>
        <script src="js/vendor/wNumb.js"></script>

        <script src="//localhost:35729/livereload.js"></script>
    </head>
    <body class="page-<%= pageId %>">
        <section id="wrap">
            <header class="color-1-bg">
                <section class="headerLeft">
                    <div class="mtadminLogo-lg">
                        <a href="#"><img src="" alt="" /></a>
                    </div>
                    <div class="mtadminLogo-sm">
                        <a href="#"><img src="" alt="" /></a>
                    </div>
                </section>
                <section class="headerRight">
                    <div class="headerRight-Left">
                        <div>
                            <a href="#" class="sideMenuToggle color-1-hover-bg" title="Toggle Sidebar">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="headerRight-Right">
                        <div class="hdrLng dropdown">
                            <a href="#" class="hdrLngToggle color-1-hover-bg" title="Language" data-target="#" id="hdrLngToggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span>En</span>
                            </a>
                            <ul class="dropdown-menu hdrDropdown lngDropdown" aria-labelledby="hdrLngToggle">
                                <li class="dropdown-menu-body">
                                    <div>
                                        <ul class="hdrTasksMenu">
                                            <li><a href="#">En</a></li>
                                            <li><a href="#">Ru</a></li>
                                            <li><a href="#">Hy</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="hdrMsg dropdown">
                            <a href="#" data-target="#" id="hdrMsgToggle" class="hdrMsgToggle color-1-hover-bg" title="Messages" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <span>12</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom hdrDropdown" aria-labelledby="hdrMsgToggle">
                                <li class="dropdown-menu-header">
                                    <h2>4 new messages</h2>
                                </li>
                                <li class="dropdown-menu-body">
                                    <div>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img src="img/users/user-1.jpg" alt="" />
                                                    <h2>Mher Sargsyan</h2>
                                                    <h3>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Now</span>
                                                    </h3>
                                                    <p>Gordz ara!</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="img/users/user-6.jpg" alt="" />
                                                    <h2>Grzegorz Brzeczyszczykiewicz</h2>
                                                    <h3>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Today 15:30</span>
                                                    </h3>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="img/users/user-8.jpg" alt="" />
                                                    <h2>Artavazd Yeghiazaryan</h2>
                                                    <h3>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Today 15:30</span>
                                                    </h3>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="img/users/user-2.jpg" alt="" />
                                                    <h2>Artavazd Yeghiazaryan</h2>
                                                    <h3>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Today 15:30</span>
                                                    </h3>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="img/users/user-6.jpg" alt="" />
                                                    <h2>Grzegorz Brzeczyszczykiewicz</h2>
                                                    <h3>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Today 15:30</span>
                                                    </h3>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="img/users/user-8.jpg" alt="" />
                                                    <h2>Artavazd Yeghiazaryan</h2>
                                                    <h3>
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>Today 15:30</span>
                                                    </h3>
                                                    <p>Lorem ipsum dolor sit amet lorem ipsum dolor sit amet</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-menu-footer">
                                    <a href="#">See All</a>
                                </li>
                            </ul>
                        </div>
                        <div class="hdrNtf dropdown">
                            <a href="#" class="hdrNtfToggle color-1-hover-bg" title="Notifications" data-target="#" id="hdrNtfToggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span>123</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-custom hdrDropdown" aria-labelledby="hdrNtfToggle">
                                <li class="dropdown-menu-header">
                                    <h2>You have 10 notifications</h2>
                                </li>
                                <li class="dropdown-menu-body">
                                    <div>
                                        <ul class="hdrNtfMenu">
                                            <li><a href="#"><i class="fa fa-users color-2"></i> 5 new members joined today</a></li>
                                            <li><a href="#"><i class="fa fa-warning color-orange"></i> Very long description here that may not fit into the page and may cause design problems</a></li>
                                            <li><a href="#"><i class="fa fa-users color-red"></i> 5 new members joined</a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart color-green"></i> 25 sales made</a></li>
                                            <li><a href="#"><i class="fa fa-user color-red"></i> You changed your username</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-menu-footer"><a href="#">View all</a></li>
                            </ul>
                        </div>
                        <div class="hdrTasks dropdown">
                            <a href="#" class="hdrTasksToggle color-1-hover-bg" title="Tasks" data-target="#" id="hdrTasksToggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-flag"></i>
                                <span>8</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right hdrDropdown" aria-labelledby="hdrTasksToggle">
                                <li class="dropdown-menu-header">
                                    <h2>You have 8 tasks</h2>
                                </li>
                                <li class="dropdown-menu-body">
                                    <div>
                                        <ul class="hdrTasksMenu">
                                            <li>
                                                <a href="#">
                                                    <h2>Design some buttons <span class="pull-right">20%</span></h2>
                                                    <div class="progress xs">
                                                        <div class="progress-bar color-1-bg" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <h2>Create a nice theme<span class="pull-right">40%</span></h2>
                                                    <div class="progress xs">
                                                        <div class="progress-bar color-green-bg" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">40% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <h2>Some task I need to do <span class="pull-right">60%</span></h2>
                                                    <div class="progress xs">
                                                        <div class="progress-bar color-red-bg" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">60% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <h2>Make beautiful transitions<span class="pull-right">80%</span></h2>
                                                    <div class="progress xs">
                                                        <div class="progress-bar color-orange-bg" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">80% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-menu-footer"><a href="#">View all tasks</a></li>
                            </ul>
                        </div>
                        <div class="hdrUser dropdown">
                            <a href="#" class="hdrUserToggle color-1-hover-bg" title="User" data-target="#" id="hdrUSerToggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="img/users/user-6.jpg" alt="" />
                                <h2><span><%= userName %></span></h2>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right userDropdown">
                                <li class="dropdown-menu-header color-1-bg">
                                    <img src="img/users/user-6.jpg" class="img-circle" alt=""/>
                                    <p>Alexander Pierce - Web Developer Member since Nov. 2012</p>
                                </li>
                                <li class="dropdown-menu-body userMenuBody">
                                    <div>
                                        <ul class="hdrUserMenu">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-4 text-center">
                                                        <a href="#">Followers</a>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <a href="#">Followers</a>
                                                    </div>
                                                    <div class="col-xs-4 text-center">
                                                        <a href="#">Followers</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-menu-footer userMenuFooter">
                                    <div class="pull-left">
                                        <button type="button" class="btn btn-default">Profile</button>
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default">Sign out</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <a href="#" class="sideMenuToggle color-1-hover-bg" title="Settings">
                                <i class="fa fa-wrench"></i>
                            </a>
                        </div>
                    </div>
                </section>
            </header>
        </section>