<section class="mtSidebar">
    <div class="sidebar-menu">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	        <div class="panel panel-default panel-bg">
		        <div class="panel-heading" role="tab">
			        <h4 class="panel-title">
				        <a href="dashboard.html">
					        <div class="panel-title-left">
						        <i class="fa fa-dashboard"></i>
						        <span>Dashboard</span>
					        </div>
				        </a>
			        </h4>
		        </div>
	        </div>
	        <div class="panel panel-default panel-bg">
		        <div class="panel-heading" role="tab">
			        <h4 class="panel-title">
				        <a href="users.html">
					        <div class="panel-title-left">
						        <i class="fa fa-users"></i>
						        <span>Users</span>
					        </div>
				        </a>
			        </h4>
		        </div>
	        </div>
	        <div class="panel panel-default panel-bg">
		        <div class="panel-heading" role="tab">
			        <h4 class="panel-title">
				        <a href="activity_log.html">
					        <div class="panel-title-left">
						        <i class="fa fa-th-list"></i>
						        <span>Activity Log</span>
					        </div>
				        </a>
			        </h4>
		        </div>
	        </div>
	        <div class="panel panel-default panel-bg">
		        <div class="panel-heading" role="tab">
			        <h4 class="panel-title">
				        <a href="payments.html">
					        <div class="panel-title-left">
						        <i class="fa fa-usd"></i>
						        <span>Payments</span>
					        </div>
				        </a>
			        </h4>
		        </div>
	        </div>
	        <div class="panel panel-default panel-bg">
		        <div class="panel-heading" role="tab">
			        <h4 class="panel-title">
				        <a href="products.html">
					        <div class="panel-title-left">
						        <i class="fa fa-shopping-bag"></i>
						        <span>Products</span>
					        </div>
				        </a>
			        </h4>
		        </div>
	        </div>
	        <div class="panel panel-default panel-bg">
		        <div class="panel-heading" role="tab">
			        <h4 class="panel-title">
				        <a href="products.html">
					        <div class="panel-title-left">
						        <i class="fa fa-cog"></i>
						        <span>Configuration</span>
					        </div>
				        </a>
			        </h4>
		        </div>
	        </div>
        </div>
    </div>
</section>