// UI color palette

$color-1: #0288d1;
$color-1-hover: #01579B;

$color-2: #00BCD4;
$color-2-hover: #0097A7;

$color-info: #2196F3;
$color-info-hover: #1f77ce;

$color-success: #8BC34A;
$color-success-hover: #7CB342;

$color-error: #F44336;
$color-error-hover: #C62828;

$color-warning: #FF9800;
$color-warning-hover: #EF6C00;

$color-text-1: #9E9E9E;
$color-text-2: #607D8B;
$color-text-black: #000000;
$color-text-white: #ffffff;

$black: #000000;
$white: #ffffff;

$color-white: #ffffff;
$color-white-hover: #ebebeb;
$color-black: #000000;
$color-black-hover: #2d2d2d;
$color-blue: #3C8DBC;
$color-blue-hover: #365E87;
$color-orange: #F39C12;
$color-orange-hover: #B66A12;
$color-green: #00A65A;
$color-green-hover: #00743A;
$color-red: #DD4B39;
$color-red-hover: #9C3A2A;

// text colors

.color-text-1 {
	color: $color-text-1;
	&.btn {
		&:hover, &.hover, &:active, &.active, &:focus, &.focus {
			color: $color-text-1;
		}
	}
}

.color-text-2 {
	color: $color-text-2;
	&.btn {
		&:hover, &.hover, &:active, &.active, &:focus, &.focus {
			color: $color-text-2;
		}
	}
}

.color-text-black {
	color: $color-text-black;
	&.btn {
		&:hover, &.hover, &:active, &.active, &:focus, &.focus {
			color: $color-text-black;
		}
	}
}

.color-text-white {
	color: $color-text-white;
	&.btn {
		&:hover, &.hover, &:active, &.active, &:focus, &.focus {
			color: $color-text-white;
		}
	}
}

// color-1

.color-1 {
	background-color: $color-1;
}

.color-1-bg {
	background-color: $color-1;
}

.color-1-hover {
	&:hover {
		background-color: $color-1-hover;
	}
}

.color-1-hover-bg {
	&:hover {
		background-color: $color-1-hover;
	}
}

.color-1-active {
	color: $color-1-hover;
}

.color-1-active-bg {
	background-color: $color-1-hover;
}

//color-2

.color-2 {
	color: $color-2;
}

.color-2-bg {
	background-color: $color-2;
}

.color-2-hover {
	&:hover {
		color: $color-2-hover;
	}
}

.color-2-hover-bg {
	&:hover {
		background-color: $color-2-hover;
	}
}

.color-2-active {
	color: $color-2-hover;
}

.color-2-active-bg {
	background-color: $color-2-hover;
}

//color-info

.color-info {
	color: $color-info;
}

.color-info-bg {
	background-color: $color-info;
}

.color-info-hover {
	&:hover {
		color: $color-info-hover;
	}
}

.color-info-hover-bg {
	&:hover {
		background-color: $color-info-hover;
	}
}

.color-info-active {
	color: $color-info-hover;
}

.color-info-active-bg {
	background-color: $color-info-hover;
}

//color-success

.color-success {
	color: $color-success;
}

.color-success-bg {
	background-color: $color-success;
}

.color-success-hover {
	&:hover {
		color: $color-success-hover;
	}
}

.color-success-hover-bg {
	&:hover {
		background-color: $color-success-hover;
	}
}

.color-success-active {
	color: $color-success-hover;
}

.color-success-active-bg {
	background-color: $color-success-hover;
}

//color-error

.color-error {
	color: $color-error;
}

.color-error-bg {
	background-color: $color-error;
}

.color-error-hover {
	&:hover {
		color: $color-error-hover;
	}
}

.color-error-hover-bg {
	&:hover {
		background-color: $color-error-hover;
	}
}

.color-error-active {
	color: $color-error-hover;
}

.color-error-active-bg {
	background-color: $color-error-hover;
}

//color-warning

.color-warning {
	color: $color-warning;
}

.color-warning-bg {
	background-color: $color-warning;
}

.color-warning-hover {
	&:hover {
		color: $color-warning-hover;
	}
}

.color-warning-hover-bg {
	&:hover {
		background-color: $color-warning-hover;
	}
}

.color-warning-active {
	color: $color-warning-hover;
}

.color-warning-active-bg {
	background-color: $color-warning-hover;
}

//color-white

.color-white {
	color: $color-white;
}

.color-white-bg {
	background-color: $color-white;
}

.color-white-hover {
	&:hover {
		color: $color-white-hover;
	}
}

.color-white-hover-bg {
	&:hover {
		background-color: $color-white-hover;
	}
}

.color-white-active {
	color: $color-white-hover;
}

.color-white-active-bg {
	background-color: $color-white-hover;
}

//color-black

.color-black {
	color: $color-black;
}

.color-black-bg {
	background-color: $color-black;
}

.color-black-hover {
	&:hover {
		color: $color-black-hover;
	}
}

.color-black-hover-bg {
	&:hover {
		background-color: $color-black-hover;
	}
}

.color-black-active {
	color: $color-black-hover;
}

.color-black-active-bg {
	background-color: $color-black-hover;
}

//color-blue

.color-blue {
	color: $color-blue;
}

.color-blue-bg {
	background-color: $color-blue;
}

.color-blue-hover {
	&:hover {
		color: $color-blue-hover;
	}
}

.color-blue-hover-bg {
	&:hover {
		background-color: $color-blue-hover;
	}
}

.color-blue-active {
	color: $color-blue-hover;
}

.color-blue-active-bg {
	background-color: $color-blue-hover;
}

//color-orange

.color-orange {
	color: $color-orange;
}

.color-orange-bg {
	background-color: $color-orange;
}

.color-orange-hover {
	&:hover {
		color: $color-orange-hover;
	}
}

.color-orange-hover-bg {
	&:hover {
		background-color: $color-orange-hover;
	}
}

.color-orange-active {
	color: $color-orange-hover;
}

.color-orange-active-bg {
	background-color: $color-orange-hover;
}

//color-green

.color-green {
	color: $color-green;
}

.color-green-bg {
	background-color: $color-green;
}

.color-green-hover {
	&:hover {
		color: $color-green-hover;
	}
}

.color-green-hover-bg {
	&:hover {
		background-color: $color-green-hover;
	}
}

.color-green-active {
	color: $color-green-hover;
}

.color-green-active-bg {
	background-color: $color-green-hover;
}

//color-red

.color-red {
	color: $color-red;
}

.color-red-bg {
	background-color: $color-red;
}

.color-red-hover {
	&:hover {
		color: $color-red-hover;
	}
}

.color-red-hover-bg {
	&:hover {
		background-color: $color-red-hover;
	}
}

.color-red-active {
	color: $color-red-hover;
}

.color-red-active-bg {
	background-color: $color-red-hover;
}

.dropdown {
	&.open {
		> .color-1-hover-bg {
			background-color: $color-1-hover;
		}
		.color-2-hover-bg {
			background-color: $color-2-hover;
		}
		.color-info-hover-bg {
			background-color: $color-info-hover;
		}
		.color-success-hover-bg {
			background-color: $color-success-hover;
		}
		.color-error-hover-bg {
			background-color: $color-error-hover;
		}
		.color-warning-hover {
			color: $color-warning-hover;
		}
		.color-blue-hover-bg {
			background-color: $color-blue-hover;
		}
		.color-orange-hover {
			color: $color-orange-hover;
		}
		.color-green-hover-bg {
			background-color: $color-green-hover;
		}
		.color-red-hover-bg {
			background-color: $color-red-hover;
		}
	}
}