/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.noUi-target {
	position: relative;
	direction: ltr;
}

.noUi-base {
	position: relative;
	z-index: 1; /* Fix 401 */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;;
}

.noUi-origin {
	position: absolute;
}

.noUi-handle {
	position: relative;
	z-index: 1;
}

.noUi-stacking .noUi-handle {
	/* This class is applied to the lower origin when
		 its values is > 50%. */
	z-index: 10;
}

.noUi-state-tap .noUi-origin {
	-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* Slider size and handle placement;
 */

$noUI-size: 6px;
$noUI-handle-width: 20px;
$noUI-handle-height: $noUI-size + 10px;
$noUI-handle-inner-width: 2px;
$noUI-handle-inner-height: 100%;
$noUI-margin-size: $noUI-handle-height - $noUI-size;

.noUi-horizontal {
	.noUi-base {
		height: $noUI-size;
		padding: $noUI-margin-size/2 0;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: $noUI-size;
			top: 50%;
			margin-top: - ($noUI-size / 2);
			left: 0;
			background: #ccc;
		}
		.noUi-handle {
			width: $noUI-handle-width;
			height: $noUI-handle-height;
			left: - ($noUI-handle-width / 2);
			top: - (($noUI-handle-height - $noUI-size) / 2);
			&:before {
				width: $noUI-handle-inner-width;
				height: 100%;
				left: 50%;
				margin-left: - ($noUI-handle-inner-width / 2);
				top: 0;
			}
		}
		.noUi-origin {
			left: 0;
			right: 0;
			top: (($noUI-handle-height - $noUI-size) / 2);
			bottom: (($noUI-handle-height - $noUI-size) / 2);
			&:first-child {
				&:last-child {
					&:before {
						width: 10000px;
						height: 100%;
						right: 100%;
					}
					&.noUi-connect {
						&:before {
							right: auto;
							left: 0;
						}
					}
				}
			}
		}
	}
}

.noUi-vertical {
	float: left;
	width: $noUI-size;
	height: 200px;
	margin: 0 $noUI-margin-size/2 0 $noUI-margin-size/2+10px;
	.noUi-base {
		height: 100%;
		&:before {
			content: "";
			position: absolute;
			width: $noUI-size;
			height: 100%;
			top: 0;
			left: 50%;
			margin-left: - ($noUI-size / 2);
			background: #ccc;
		}
		.noUi-handle {
			width: $noUI-handle-height;
			height: $noUI-handle-height;
			left: - (($noUI-handle-height - $noUI-size) / 2);
			top: - ($noUI-handle-height / 2);
			&:before {
				width: $noUI-handle-inner-height;
				height: $noUI-handle-inner-width;
				left: 0;
				top: 50%;
				margin-top: - ($noUI-handle-inner-width / 2);
			}
		}
		.noUi-origin {
			left: 0;
			right: 0;
			top: (($noUI-handle-height - $noUI-size) / 2);
			bottom: (($noUI-handle-height - $noUI-size) / 2);
			&:first-child {
				&:last-child {
					&:before {
						width: 10000px;
						height: 100%;
						right: 100%;
					}
					&.noUi-connect {
						&:before {
							right: auto;
							left: 0;
						}
					}
				}
			}
		}
	}
	&:first-child {
		margin-left: $noUI-margin-size/2;
	}
}

.noUi-handle {
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	&:before {
		content: "";
		display: block;
		position: absolute;
		background: $color-2;
	}
}

/* Styling;
 */

.noUi-origin {
	&.noUi-background {
		background: #ccc;
	}
	&.noUi-connect {
		background: $color-2;
		-webkit-transition: background 450ms;
		transition: background 450ms;
	}
}

.noUi-target {

}

.noUi-target.noUi-connect {

}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
	cursor: n-resize;
}

.noUi-active {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

/* Handle stripes;
 */

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #a8a8a8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
	cursor: not-allowed;
	&:before {
		background: #a8a8a8;
	}
}

@import "nouislider.pips";
@import "nouislider.tooltips";