.noUi-tooltip {
	display: block;
	position: absolute;
	text-align: center;
	font-size: $font-0750;
	line-height: 1;
	color: #404040;
}

.noUi-horizontal {
	.noUi-origin {
		.noUi-tooltip {
			left: 50%;
			@include translate(-50%, 0);
		}
		.noUi-handle-lower {
			.noUi-tooltip {
				top: -20px;
			}
		}
		.noUi-handle-upper {
			.noUi-tooltip {
				bottom: -20px;
			}
		}
		&[style="left: 100%"], &[style="left: 100%;"], &[style="left:100%"], &[style="left:100%;"] {
			.noUi-tooltip {
				@include translate(-100%, 0);
			}
		}
		&[style="left: 0%"], &[style="left: 0%;"], &[style="left:0%"], &[style="left:0%;"] {
			.noUi-tooltip {
				@include translate(0, 0);
			}
		}
	}
	&.noUi-tooltip-top {
		margin-top: 20px;
	}
	&.noUi-tooltip-bottom {
		margin-bottom: 20px;
	}
}

.noUi-vertical .noUi-handle-lower .noUi-tooltip {
	left: 120%;
}

.noUi-vertical .noUi-handle-upper .noUi-tooltip {
	right: 120%;
}
