body {
  &.mtSidebarOpen {
    header {
      padding-left: $grid-sidebar-open-width;
      .headerLeft {
        width: $grid-sidebar-open-width;
      }
    }
  }
}

header {
  width: 100%;
  height: $grid-header-height;
  padding-left: $grid-sidebar-closed-width;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  @include clearfix();
  @include transition(all 0.3s);
  .headerLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: $grid-sidebar-closed-width;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    @include transition(width 0.3s);
  }
  .headerRight {
    border-left: 2px solid $white;
    width: 100%;
    height: 100%;
    @include clearfix();
    .headerRight-Left {
      float: left;
      @include clearfix();
    }
    .headerRight-Right {
      float: right;
      @include clearfix();
    }
    > div {
      height: 100%;
      > div {
        float: left;
        height: 100%;
        > a {
          position: relative;
          display: block;
          min-width: $grid-header-height;
          height: 100%;
          padding: ($grid-header-height - ($grid-header-height - ($grid-header-padding-top + $grid-header-padding-bottom)))/2 8px;
          color: $white;
          font-size: $font-1;
          @include transition(background-color 0.3s);
          @include clearfix();
          img {
            float: left;
            display: block;
            max-width: $grid-header-height - ($grid-header-padding-top + $grid-header-padding-bottom);
            max-height: $grid-header-height - ($grid-header-padding-top + $grid-header-padding-bottom);
            @include br(50%);
          }
          h2 {
            float: left;
            display: table;
            height: 100%;
            margin: 0 0 0 10px;
            padding: 0;
            font-weight: 400;
            font-size: $font-0625;
            line-height: 14px;
            span {
              display: table-cell;
              vertical-align: middle;
            }
          }
          i {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 16px;
            line-height: $grid-header-height - ($grid-header-padding-top + $grid-header-padding-bottom);
            + span {
              position: absolute;
              right: 4px;
              top: 4px;
              display: block;
              line-height: 1;
              padding: 1px 2px;
              font-size: $font-0625;
              font-weight: 700;
              color: $color-text-2;
              background: $white;
              @include br(2px);
              @include opacity(0.85);
              @include transition(opacity 0.3s);
            }
          }
          > span {
            &:first-child {
              display: block;
              width: 100%;
              height: 100%;
              text-align: center;
              font-size: $font-0875;
              line-height: $grid-header-height - ($grid-header-padding-top + $grid-header-padding-bottom);
            }
          }
          &:hover {
            i {
              + span {
                @include opacity(1);
              }
            }
          }
        }
        .hdrDropdown {
          width: 300px;
          .dropdown-menu-body {
            > div {
              > ul {
                font-size: $font-base;
                line-height: 1.25;
                > li {
                  display: block;
                  border-top: 1px solid $dropdown-border;
                  &:first-child {
                    border-top: none;
                  }
                  > a {
                    position: relative;
                    display: block;
                    padding: 10px 10px 10px 60px;
                    color: $color-text-2;
                    @include transition(all 0.3s);
                    &:hover {
                      background: lighten($black, 90%);
                    }
                    > img {
                      display: block;
                      max-width: 40px;
                      position: absolute;
                      left: 10px;
                      top: 10px;
                      @include br(50%);
                    }
                    h2 {
                      display: block;
                      width: 100%;
                      font-size: $font-0875;
                      line-height: 18px;
                      font-weight: 700;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                    h3 {
                      display: block;
                      width: 100%;
                      padding: 2px 0;
                      font-size: $font-0625;
                      line-height: 10px;
                      color: lighten($color-text-black, 50%);
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      @include clearfix();
                      i, span {
                        float: left;
                        display: block;
                        line-height: inherit;
                      }
                      i {
                        font-size: 12px;
                        padding: 0 4px 0 0;
                      }
                    }
                    p {
                      display: block;
                      padding: 4px 0 0 0;
                      font-size: $font-0750;
                      line-height: 14px;
                      cursor: inherit;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                    }
                  }
                }
              }
            }
          }
          &.lngDropdown {
            width: 100%;
            min-width: 100%;
            .dropdown-menu-body {
              > div {
                > ul {
                  font-size: $font-base;
                  line-height: 1.25;
                  > li {
                    > a {
                      padding: 10px;
                      font-size: $font-0875;
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
        }
        .hdrDropdown {
          .dropdown-menu-body {
            > div {
              > .hdrNtfMenu {
                font-size: $font-0750;
                > li {
                  > a {
                    padding: 10px;
                    cursor: inherit;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    i {
                      padding: 0 8px 0 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .hdrDropdown {
        .dropdown-menu-body {
          > div {
            > .hdrTasksMenu {
              .xs {
                height: 7px;
                margin: 10px 0 0 0;
              }
              > li {
                > a {
                  padding: 10px;
                  h2 {
                    span {
                      display: block;
                      padding: 2px 0;
                      font-size: $font-0625;
                      line-height: 10px;
                      color: lighten($color-text-black, 50%);
                    }
                  }
                }
              }
            }
          }
        }
      }
      .hdrUser {
        .userDropdown {
          width: 300px;
          .dropdown-menu-header {
            text-align: center;
            padding: 10px;
            img {
              max-width: 90px;
            }
            p {
              font-size: $font-0875;
              color: $white;
              margin-top: 10px;
            }
          }
        }
        .userMenuBody {
          font-size: $font-0750;
          padding: 0 10px 15px 10px;
          > div {
            > .hdrUserMenu {
              >li{
                >div{
                  >div{
                    > a {
                      padding: 10px;
                      color: lighten($black,50%);
                      i {
                        padding: 0 8px 0 0;
                      }
                    }
                  }
                }
              }

            }
          }
        }
        .userMenuFooter{
          background-color: lighten($color-text-1,35%);
          padding: 10px;
          @include clearfix;
        }
      }
    }
  }

  .dropdown-menu-custom, .dropdown-menu-right {
    .dropdown-menu-header {
      display: block;
      h2 {
        display: block;
        padding: 10px;
        font-size: $font-0875;
        font-weight: 700;
        color: #444;
      }
    }
    .dropdown-menu-body {
      display: block;
      max-height: 300px;
      overflow: auto;
      border-top: 1px solid $dropdown-border;
      border-bottom: 1px solid $dropdown-border;
      > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        @include clearfix();
        > li {
          display: block;
        }
      }
    }
    .dropdown-menu-footer {
      display: block;
      > a {
        display: block;
        text-align: center;
        padding: 5px 10px;
        height: auto;
        line-height: 1;
        font-size: $font-0750;
        font-weight: 700;
        color: #444;
      }
    }
    > li {
      > a {
        color: #777;
        &:hover, &:focus {
          color: #222;
          background-color: transparent;
        }
      }
    }
    .active {
      > a {
        color: #222;
        &:hover, &:focus {
          color: #222;
          background-color: transparent;
        }
      }
    }
  }
}