.mtSidebar::-webkit-scrollbar {
  background-color: transparent;
}

.mtSidebar {
  width: $grid-sidebar-closed-width;
  position: absolute;
  left: 0;
  min-height: 100%;
  top: 0;
  padding-top: $grid-header-height;
  background-color: #222d32;
  z-index: 999;
  @include transition(all 0.3s);
  .panel-group {
    .panel {
      position: relative;
      background: transparent;
      border: none;
      margin: 0;
      @include br(0);
      @include bs(none);
      &:hover {
        > .collapse {
          display: block;
          &.in {
            display: block;
          }
        }
        .panel-heading {
          .panel-title {
            > a {
              color: #fff;
              background: #1e282c;
              border-left-color: #3c8dbc;
              > .panel-title-left {
                span {
                  display: block;
                  float: none;
                  position: absolute;
                  left: 50px;
                  top: 0;
                  background: #1e282c;
                  width: 200px;
                  text-align: left;
                  padding: 0 15px;
                  @include br(0 3px 3px 0);
                }
              }
            }
          }
        }
      }
    }
    .panel-heading {
      margin: 0;
      padding: 0;
      border: none;
      .panel-title {
        > a {
          position: relative;
          padding: 10px 0;
          border-left: 3px solid transparent;
          height: 44px;
          line-height: 44px;
          display: block;
          font-size: $font-0875;
          background-color: #222d32;
          color: lighten(#8aa4af, 15%);
          text-align: center;
          @include transition(all 0.3s);
          @include clearfix();
          &:hover, &[data-toggle], &.collapsed:hover {
            color: #fff;
            background: #1e282c;
            border-left-color: #3c8dbc;
          }
          &.collapsed {
            border-left-color: transparent;
            background-color: #222d32;
            color: lighten(#8aa4af, 15%);
            > .panel-title-right {
              &:empty {
                &:before {
                  content: $fa-var-angle-down;
                }
              }
            }
          }
          i {
            display: block;
            line-height: inherit;
          }
          > .panel-title-left {
            position: absolute;
            left: -3px;
            right: 0;
            top: 0;
            float: none;
            height: 100%;
            span {
              display: none;
              float: left;
              padding: 0 0 0 5px;
            }
            i {
              font-size: 18px;
            }
          }
          > .panel-title-right {
            display: none;
            float: right;
            position: relative;
            height: 100%;
            min-width: 20px;
            &:empty {
              &:before {
                @extend .fontAwesomeSet;
                content: $fa-var-angle-up;
                text-align: center;
              }
            }
          }
        }
      }
      + .panel-collapse {
        position: absolute;
        left: 100%;
        top: 44px;
        width: 200px;
        background-color: lighten(#222d32, 10%);
        @include br(0 0 3px 0);
        &:before {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          position: absolute;
          right: 0;
          top: -4px;
          background-color: #1e282c;
        }
        &.in {
          display: none;
        }
        > .panel-body {
          padding: 0;
          border: none;
          background: transparent;
          ul {
            display: block;
            margin: 0;
            padding: 0;
            list-style: none;
            @include clearfix();
            li {
              display: block;
              a {
                display: block;
                padding: 7px 15px;
                color: #8AA4AF;
                font-size: $font-0875;
                line-height: 20px;
                text-transform: capitalize;
                @include clearfix();
                &:hover {
                  color: #fff;
                }
                > span {
                  display: block;
                  line-height: inherit;
                }
                &[data-toggle="collapse"] {
                  position: relative;
                  &:before {
                    position: absolute;
                    right: 15px;
                    top: 7px;
                    line-height: inherit;
                    display: block;
                    min-width: 20px;
                    @extend .fontAwesomeSet;
                    content: $fa-var-angle-up;
                    text-align: center;
                  }
                  &.collapsed {
                    &:before {
                      content: $fa-var-angle-down;
                    }
                  }
                }
              }
              > div {
                > ul {
                  > li {
                    > a {
                      padding-left: 25px;

                    }
                    > div {
                      > ul {
                        > li {
                          > a {
                            padding-left: 35px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

body {
  &.mtSidebarOpen {
    .mtSidebar {
      position: fixed;
      bottom: 0;
      height: 100%;
      width: $grid-sidebar-open-width;
      overflow: auto;
      .panel-group {
        .panel {
          &:hover {
            > .collapse {
              display: none;
              &.in {
                display: block;
              }
            }
            .panel-heading {
              .panel-title {
                > a {
                  color: #fff;
                  background: #1e282c;
                  border-left-color: #3c8dbc;
                  > .panel-title-left {
                    span {
                      float: left;
                      position: static;
                      left: auto;
                      top: auto;
                      background: transparent;
                      width: auto;
                      text-align: inherit;
                      padding: 0 0 0 10px;
                      @include br(0 0 0 0);
                    }
                  }
                }
              }
            }
          }
        }
        .panel-heading {
          margin: 0;
          padding: 0;
          border: none;
          .panel-title {
            > a {
              padding: 10px 15px;
              line-height: 24px;
	            overflow: hidden;
	            text-overflow: ellipsis;
	            white-space: nowrap;
              > .panel-title-left {
                float: left;
                position: static;
                left: auto;
                right: auto;
                top: auto;
                height: 100%;
                i {
                  float: left;
                  width: 24px;
                }
                span {
                  display: block;
                  padding: 0 0 0 10px;
                }
              }
              > .panel-title-right {
                display: block;
              }
            }
          }
          + .panel-collapse {
            position: static;
            left: auto;
            top: auto;
            width: auto;
            @include br(0);
            &.in {
              display: block;
            }
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
}