@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

$font-base: 16px;
$fontSansPro: "Roboto", sans-serif;;

/* 10px */ $font-0625: 0.625em;
/* 12px */ $font-0750: 0.750em;
/* 14px */ $font-0875: 0.875em;
/* 16px */ $font-1:    1em;
/* 18px */ $font-1125: 1.125em;
/* 20px */ $font-1250: 1.250em;
/* 24px */ $font-15:   1.5em;
/* 30px */ $font-1875: 1.875em;
/* 36px */ $font-2250: 2.250em;
/* 48px */ $font-3:    3em;

@import "../font-awesome/variables";

.fontAwesomeSet {
  display: block;
  font-family: FontAwesome;
  font-size: inherit;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}