@mixin br($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin bs($hShadow, $vShadow:"", $blur:"", $spread:"", $color:"") {
  -webkit-box-shadow: $hShadow unquote($vShadow) unquote($blur) unquote($spread) unquote($color);
  -moz-box-shadow: $hShadow unquote($vShadow) unquote($blur) unquote($spread) unquote($color);
  box-shadow: $hShadow unquote($vShadow) unquote($blur) unquote($spread) unquote($color);
}

@mixin opacity($opacity) {
  opacity: $opacity;
  -moz-opacity: $opacity;
  -khtml-opacity: $opacity;
  $opacity-ie: ($opacity * 100);
  filter: alpha(opacity=$opacity-ie);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity-ie})";
}

@mixin saturate($saturate) {
  filter: saturate($saturate);
  -webkit-filter: saturate($saturate);
  -moz-filter: saturate($saturate);
  -o-filter: saturate($saturate);
  -ms-filter: saturate($saturate);
}

@mixin user-select($userSelect) {
  user-select: $userSelect;
  -webkit-user-select: $userSelect;
  -moz-user-select: $userSelect;
  -ms-user-select: $userSelect;
  -o-user-select: $userSelect;
}

@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin bsize($bSize) {
  background-size: $bSize;
  -webkit-background-size: $bSize;
  -moz-background-size: $bSize;
  -o-background-size: $bSize;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}