// media queries
$xs: "(max-width: 767px)";
$sm: "(min-width: 768px) and (max-width: 1024px)";
$smPortrait: "(min-width: 768px) and (max-width: 1024px) and (orientation: portrait)";
$mdtosm: "(min-width: 1025px) and  (max-width: 1279px)";
$md: "(min-width: 1025px) and  (max-width: 1599px)";
$lg: "(min-width: 1600px)";
//end  media queries