<% var pageTitle = "Activity Log"; pageId = "activity-log"; pageDescription = "activity-log"; %>

<% include modules/_header %>

<% include modules/_sidebar %>

	<section class="contentWrapTop">
		<div class="row">
			<div class="col-xs-12">
				<div class="contentWrapTopLeft">
					<h1><%= pageTitle %></h1>
				</div>
			</div>
		</div>
	</section>
	<section class="contentWrap">
		<div class="row">
			<div class="col-xs-12">
				<div class="typography text-right">
					<h2 id="mtTime"></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<section class="boxWrap">
					<div class="box">
						<div class="boxHeader">
							<div class="boxHeaderLeft">
								<h3>
									<i class="fa fa-th-list"></i>
									<span>Activity Log</span>
								</h3>
							</div>
							<div class="boxHeaderRight">

							</div>
						</div>
						<div class="boxBody">
							<div class="tableWrap">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>In</th>
											<th>Out</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>01</td>
											<td>10:00:00</td>
											<td>10:07:53</td>
											<td>21/Jan/2017</td>
										</tr>
										<tr>
											<td>02</td>
											<td>10:01:32</td>
											<td>10:04:01</td>
											<td>21/Jan/2017</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

<% include modules/_footer %>