<% var pageTitle = "Dashboard"; pageId = "Dashboard"; pageDescription = "dashboard"; %>

<% include modules/_header %>

<% include modules/_sidebar %>

	<section class="contentWrapTop">
		<div class="row">
			<div class="col-xs-12">
				<div class="contentWrapTopLeft">
					<h1><%= pageTitle %></h1>
				</div>
				<div class="contentWrapTopRight">
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-cube"></i>
								<span>Dashboard</span>
							</a>
						</li>
						<!--<li><a href="#">Layouts</a></li>-->
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="contentWrap">
		<div class="row">
			<div class="col-xs-12">
				<div class="typography text-right">
					<h2 id="mtTime"></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<section class="boxWrap">
					<div class="box">
						<div class="boxHeader">
							<div class="boxHeaderLeft">
								<h3>
									<i class="fa fa-th"></i>
									<span>Stats</span>
								</h3>
							</div>
							<div class="boxHeaderRight">

							</div>
						</div>
						<div class="boxBody">
							<div class="tableWrap">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>In</th>
											<th>Out</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
									<tr>
										<td>4</td>
										<td>1</td>
										<td>21/Jan/2017</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col-xs-12 col-sm-6">
				<section class="boxWrap">
					<div class="box">
						<div class="boxHeader">
							<div class="boxHeaderLeft">
								<h3>
									<i class="fa fa-signal"></i>
									<span>Beacons</span>
								</h3>
							</div>
							<div class="boxHeaderRight">

							</div>
						</div>
						<div class="boxBody">
							<div class="tableWrap">
								<table class="table table-bordered">
									<thead>
									<tr>
										<th>OS</th>
										<th>MAC address</th>
										<th>Zone</th>
										<th>Beacon</th>
										<th>Proximity</th>
										<th>Date</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>iOS</td>
										<td>00:00:00:00:00:0X</td>
										<td>Kitchen</td>
										<td>Beacon ID</td>
										<td>15 Meters</td>
										<td>21/Jan/2017</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

<% include modules/_footer %>