<% var pageTitle = "Login"; pageId = "login"; pageDescription = "login"; %>
<% include modules/_header %>

<section class="loginSection">
	<form action="" class="clearfix">
		<section class="boxWrap">
			<div class="box">
				<div class="boxHeader">
					<div class="boxHeaderLeft">
						<h3>
							<i class="fa fa-user"></i>
							<span>Welcome</span>
						</h3>
					</div>
				</div>
				<div class="boxBody">
					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<label for="username">Username:</label>
								<input class="form-control" type="text" id="username" value="" />
							</div>
							<div class="form-group">
								<label for="password">Password:</label>
								<input class="form-control" type="text" id="password" value="" />
							</div>
						</div>
					</div>
				</div>
				<div class="boxFooter">
					<div class="boxFooterLeft">
						<div class="mtCheckbox">
							<label>
								<input type="checkbox" />
								<span>Remember Me</span>
							</label>
						</div>
					</div>
					<div class="boxFooterRight">
						<button type="submit" class="btn btn-flat color-2-bg color-2-hover-bg color-text-white">Login</button>
					</div>
				</div>
			</div>
		</section>
	</form>
</section>

<% include modules/_footer %>