<% var pageTitle = "Payments"; pageId = "payments"; pageDescription = "payments"; %>

<% include modules/_header %>

<% include modules/_sidebar %>

	<section class="contentWrapTop">
		<div class="row">
			<div class="col-xs-12">
				<div class="contentWrapTopLeft">
					<h1><%= pageTitle %></h1>
				</div>
			</div>
		</div>
	</section>
	<section class="contentWrap">
		<div class="row">
			<div class="col-xs-12">
				<div class="typography text-right">
					<h2 id="mtTime"></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<section class="boxWrap">
					<div class="box">
						<div class="boxHeader">
							<div class="boxHeaderLeft">
								<h3>
									<i class="fa fa-usd"></i>
									<span>Payments</span>
								</h3>
							</div>
							<div class="boxHeaderRight">

							</div>
						</div>
						<div class="boxBody">
							<div class="tableWrap">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Product ID</th>
											<th>Amount</th>
											<th>Type</th>
											<th>Date</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody>
									<tr>
										<td>01</td>
										<td>4789</td>
										<td>5700 AMD</td>
										<td>Cash</td>
										<td>21/Jan/2017</td>
										<td>10:57:51</td>
									</tr>
									<tr>
										<td>02</td>
										<td>141</td>
										<td>13000 AMD</td>
										<td>MasterCard</td>
										<td>21/Jan/2017</td>
										<td>11:03:14</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

<% include modules/_footer %>