<% var pageTitle = "Products"; pageId = "products"; pageDescription = "products"; %>

<% include modules/_header %>

<% include modules/_sidebar %>

	<section class="contentWrapTop">
		<div class="row">
			<div class="col-xs-12">
				<div class="contentWrapTopLeft">
					<h1><%= pageTitle %></h1>
				</div>
			</div>
		</div>
	</section>
	<section class="contentWrap">
		<div class="row">
			<div class="col-xs-12">
				<div class="typography text-right">
					<h2 id="mtTime"></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<section class="boxWrap">
					<div class="box">
						<div class="boxHeader">
							<div class="boxHeaderLeft">
								<h3>
									<i class="fa fa-shopping-bag"></i>
									<span>Products</span>
								</h3>
							</div>
							<div class="boxHeaderRight">

							</div>
						</div>
						<div class="boxBody">
							<div class="tableWrap">
								<table class="table table-bordered table-valignM">
									<thead>
										<tr>
											<th>Product ID</th>
											<th>Description</th>
											<th>Image</th>
											<th>Price</th>
											<th>Date Registered</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>4777</td>
											<td>Vardaguyn Bluzka</td>
											<td><img src="img/product.jpg" alt="" height="50"></td>
											<td>4700 AMD</td>
											<td>21/Jan/2017</td>
											<td><span class="label label-success">Available</span></td>
										</tr>
										<tr>
											<td>4778</td>
											<td>Vardaguyn Bluzka</td>
											<td><img src="img/product.jpg" alt="" height="50"></td>
											<td>5200 AMD</td>
											<td>22/Jan/2017</td>
											<td><span class="label label-warning">Pending</span></td>
										</tr>
										<tr>
											<td>4778</td>
											<td>Vardaguyn Bluzka</td>
											<td><img src="img/product.jpg" alt="" height="50"></td>
											<td>5200 AMD</td>
											<td>22/Jan/2017</td>
											<td><span class="label label-danger">Expired</span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

<% include modules/_footer %>