<% var pageTitle = "Users"; pageId = "users"; pageDescription = "users"; %>

<% include modules/_header %>

<% include modules/_sidebar %>

	<section class="contentWrapTop">
		<div class="row">
			<div class="col-xs-12">
				<div class="contentWrapTopLeft">
					<h1><%= pageTitle %></h1>
				</div>
			</div>
		</div>
	</section>
	<section class="contentWrap">
		<div class="row">
			<div class="col-xs-12">
				<div class="typography text-right">
					<h2 id="mtTime"></h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<section class="boxWrap">
					<div class="box">
						<div class="boxHeader">
							<div class="boxHeaderLeft">
								<h3>
									<i class="fa fa-users"></i>
									<span>Users</span>
								</h3>
							</div>
							<div class="boxHeaderRight">

							</div>
						</div>
						<div class="boxBody">
							<div class="tableWrap">
								<table class="table table-bordered table-valignM">
									<thead>
										<tr>
											<th>#</th>
											<th>Username</th>
											<th>Email</th>
											<th>Type</th>
											<th>Date Registered</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>01</td>
											<td>vagharshak</td>
											<td>vagharshak@vagho.am</td>
											<td>Superadmin</td>
											<td>21/Jan/2017</td>
										</tr>
										<tr>
											<td>02</td>
											<td>admin</td>
											<td>admin@vagho.am</td>
											<td>Admin</td>
											<td>21/Jan/2017</td>
										</tr>
										<tr>
											<td>03</td>
											<td>manager</td>
											<td>manager@vagho.am</td>
											<td>user</td>
											<td>21/Jan/2017</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

<% include modules/_footer %>