.boxWrap {
	margin-bottom: 20px;
	.box {
		position: relative;
		background: #ffffff;
		border-top: 3px solid #d2d6de;
		.boxHeader {
			position: relative;
			padding: 10px;
			line-height: 24px;
			color: #444;
			border-bottom: 1px solid #E8E8E8;
			@include clearfix();
			.boxHeaderLeft {
				float: left;
				@include clearfix();
			}
			.boxHeaderRight {
				float: right;
				@include clearfix();
				> div {
					float: left;
					margin-left: 10px;
					&:first-child {
						margin-left: 0;
					}
				}
				.boxSearch {
					width: 150px;
				}
				.boxLang {
					width: 100px;
				}
			}
			h3 {
				float: left;
				display: block;
				font-weight: 700;
				font-size: $font-1;
				line-height: inherit;
				@include clearfix();
				i, span {
					float: left;
					display: block;
					line-height: inherit;
				}
				span {
					+ i {
						padding-left: 5px;
					}
				}
				i {
					font-size: 16px;
					min-width: 20px;
					text-align: center;
					+ span {
						padding-left: 5px;
					}
				}
			}
		}
		.boxBody {
			position: relative;
			padding: 10px;
			color: #444;
			border-bottom: 1px solid #E8E8E8;
			@include clearfix();
			> p {
				font-size: $font-0875;
				line-height: 18px;
				&:first-child {
					margin: 0;
					+ .btn-group-custom {
						margin-top: 0;
					}
				}
			}
			> table {
				thead, tbody, tfoot {
					th, tr {
						font-size: $font-0875;
					}
				}
			}
			.panel-group {
				margin: 0;
				.panel {
					background-color: #ffffff;
					border: 1px solid $color-1;
					@include bs(0 1px 1px rgba($color-1, 0.05));
					@include br(0);
					&.panel-default {
						border-color: $color-1;
						.panel-heading {
							color: $color-text-white;
							background-color: transparent;
						}
					}
					.panel-heading {
						padding: 0;
						border: none;
						@include br(0);
						.panel-title {
							display: block;
							margin: 0;
							font-size: $font-0875;
							line-height: 18px;
							font-weight: 700;
							color: inherit;
							a {
								position: relative;
								display: block;
								padding: 8px 29px 8px 10px;
								font-size: inherit;
								line-height: inherit;
								background-color: $color-1;
								@include transition(all 0.3s);
								&:after {
									@extend .fontAwesomeSet;
									content: $fa-var-chevron-up;
									width: 19px;
									height: 16px;
									line-height: 16px;
									font-size: 10px;
									color: inherit;
									position: absolute;
									right: 0;
									top: 50%;
									margin: -10px 0 0 0;
									@include transition(all 0.3s);
								}
								&:hover {
									background-color: $color-1-hover;
									&:after {
										margin: -12px 0 0 0;
									}
								}
								&.collapsed {
									&:hover {
										&:after {
											margin: -8px 0 0 0;
										}
									}
									&:after {
										content: $fa-var-chevron-down;
									}
								}
							}
						}
					}
					.panel-body {
						padding: 10px;
						font-size: $font-1;
						> p {
							font-size: $font-0875;
							line-height: 18px;
							&:first-child {
								margin: 0;
							}
						}
						> table {
							thead, tbody, tfoot {
								th, tr {
									font-size: $font-0875;
								}
							}
						}
					}
				}
			}
			.tableTools {
				@include clearfix();
				.tableToolsLeft {
					float: left;
					max-width: 50%;
					@include clearfix();
					> div {
						float: left;
						margin-left: 10px;
						max-width: 200px;
						&:first-child {
							margin-left: 0;
						}
					}
					.tableToolsCountSelect {
						width: 178px;
					}
				}
				.tableToolsRight {
					float: right;
					ul {
						margin: 0;
						padding: 0;
						@include clearfix();
						li {
							display: block;
							float: left;
							a {
								//background: #fafafa;
								//color: #666;
							}
						}
					}
				}
			}
			> .nav-tabs {
				display: block;
				margin: 0;
				padding: 0 0 10px 0;
				border: 0;
				list-style: none;
				line-height: inherit;
				&:first-child {
					margin: -10px 0 0 0;
				}
				> li {
					float: left;
					display: block;
					position: relative;
					margin: 0 0 0 5px;
					padding: 0;
					line-height: inherit;
					&:first-child {
						margin: 0;
					}
					> a {
						position: relative;
						display: block;
						padding: 10px 8px 13px 8px;
						margin: 0;
						font-size: $font-0875;
						color: inherit;
						line-height: inherit;
						border: none;
						text-decoration: none;
						@include br(0);
						&:before {
							content: "";
							display: block;
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 3px;
							background: $color-1;
							@include opacity(0.2);
							@include transition(all 0.3s);
						}
						&:hover, &:focus {
							text-decoration: none;
							background-color: transparent;
							&:before {
								@include opacity(0.6);
							}
						}
					}
					&.active {
						> a {
							&, &:hover, &:focus {
								color: inherit;
								background-color: transparent;
								border: none;
								cursor: default;
								&:before {
									@include opacity(1);
								}
							}
						}
					}
				}
			}
		}
		.boxFooter {
			position: relative;
			padding: 10px;
			font-size: $font-0625;
			line-height: 14px;
			color: #444;
			@include clearfix();
			.boxFooterLeft {
				float: left;
				.mtCheckbox, .mtRadio {
					font-size: $font-base;
				}
			}
			.boxFooterRight {
				float: right;
			}
		}
	}
	.customTabs {
		.boxHeader {
			padding-bottom: 0;
			h3 {
				+ .nav-tabs {
					float: left;
					margin-left: 10px;
				}
			}
			.nav-tabs {
				display: block;
				margin: -13px 0 0 0;
				padding: 0;
				border: 0;
				list-style: none;
				line-height: inherit;
				> li {
					float: left;
					display: block;
					position: relative;
					margin: 0;
					padding: 0;
					line-height: inherit;
					> a {
						position: relative;
						display: block;
						padding: 13px 8px 10px 8px;
						margin: 0;
						font-size: $font-0875;
						color: inherit;
						line-height: inherit;
						border: none;
						text-decoration: none;
						@include br(0);
						&:before {
							content: "";
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 3px;
							background: $color-1;
							@include opacity(0.2);
							@include transition(all 0.3s);
						}
						&:hover, &:focus {
							text-decoration: none;
							background-color: transparent;
							&:before {
								@include opacity(0.6);
							}
						}
					}
					&.active {
						> a {
							&, &:hover, &:focus {
								color: inherit;
								background-color: transparent;
								border: none;
								cursor: default;
								&:before {
									@include opacity(1);
								}
							}
						}
					}
				}
			}
		}
		.tab-content {
			margin-top: 6px;
		}
	}
}

.modal-body {
	.boxWrap {
		margin-bottom: 0;
		.box {
			border-top: none;
			.boxBody {
				padding: 0;
				border-bottom: none;
			}
		}
	}
}