.btn {
  &.btn-app {
    position: relative;
    float: left;
    display: block;
    width: 80px;
    height: 60px;
    margin: 0 0 10px 10px;
    padding: 15px 5px;
    text-align: center;
    font-size: $font-1;
    color: #444444;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    .badge {
      position: absolute;
      top: -3px;
      right: -10px;
      font-size: 10px;
      font-weight: 400;
    }
    i {
      display: block;
      font-size: 14px;
      line-height: 1;
      + span {
        display: block;
        width: 100%;
        font-size: $font-0625;
        line-height: 1;
        padding: 5px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &:hover {
      background: #F4F4F4;
      border-color: #AAAAAA;
    }
  }
  &.btn-save-for-all {
    i {
      position: relative;
      &:before {
        position: relative;
        left: -2px;
        top: 2px;
        z-index: 2;
      }
      &:after {
        content: $fa-var-save;
        position: absolute;
        left: 3px;
        top: -2px;
        z-index: 1;
      }
    }
  }
  &[class^="color-"], &[class*=" color-"] {
    &:active, &.active, &:focus, &.focus {
      @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
    }
  }
}
.btn-app-group {
  margin: 0 0 0 -10px;
  @include clearfix();
}
.btn-group-custom {
  margin: -8px 0 0 -10px;
  @include clearfix();
  letter-spacing: -4px;
  * {
    letter-spacing: normal;
  }
  > .btn, > .btn-group {
    margin: 8px 0 0 10px;
  }
  + p {
    padding-top: 10px;
  }
}