/* Main Styles */

html {
  &.noScroll {
    overflow: hidden;
    body {
      overflow: hidden;
    }
  }
}

html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
}

body {
  padding-top: $grid-header-height;
  padding-left: $grid-sidebar-closed-width;
  font-size: $font-base;
  font-family: $fontSansPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecf0f5;
  @include transition(padding 0.3s);
  &.mtSidebarOpen {
    padding-left: $grid-sidebar-open-width;
  }
  &.page-login {
    header {
      display: none;
    }
  }
  &.loading {
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 10000;
      background-image: url(../img/loader.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.7);
      @include bsize(40px 40px);
    }
  }
}

#wrap {
  width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  outline: 0 !important;
  &:hover, &:focus, &:active {
    text-decoration: none;
  }
  &.linkUnderline {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

p {
  cursor: default;
}

@media #{$lg} {

}

@media #{$md} {

}

@media #{$mdtosm} {

}

@media #{$sm} {

}

@media #{$smPortrait} {

}

@media #{$xs} {

}

/* end Main Styles */
