//
// A stylesheet for use with Bootstrap 3.x
// @author: Dan Grossman http://www.dangrossman.info/
// @copyright: Copyright (c) 2012-2015 Dan Grossman. All rights reserved.
// @license: Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
// @website: https://www.improvely.com/
//

//
// VARIABLES
//

//
// Settings

// The class name to contain everything within.
$prefix-class: daterangepicker;
$arrow-size: 7px !default;

//
// Colors
$daterangepicker-color: inherit !default;
$daterangepicker-bg-color: #fff !default;

$daterangepicker-cell-color: $daterangepicker-color !default;
$daterangepicker-cell-border-color: transparent !default;
$daterangepicker-cell-bg-color: $daterangepicker-bg-color !default;

$daterangepicker-cell-hover-color: $daterangepicker-color !default;
$daterangepicker-cell-hover-border-color: $daterangepicker-cell-border-color !default;
$daterangepicker-cell-hover-bg-color: #eee !default;

$daterangepicker-in-range-color: #000 !default;
$daterangepicker-in-range-border-color: transparent !default;
$daterangepicker-in-range-bg-color: #ebf4f8 !default;

$daterangepicker-active-color: #fff !default;
$daterangepicker-active-bg-color: #357ebd !default;
$daterangepicker-active-border-color: transparent !default;

$daterangepicker-unselected-color: #999 !default;
$daterangepicker-unselected-border-color: transparent !default;
$daterangepicker-unselected-bg-color: #fff !default;

//
// daterangepicker
$daterangepicker-width: 278px !default;
$daterangepicker-padding: 4px !default;
$daterangepicker-z-index: 3000 !default;

$daterangepicker-border-size: 1px !default;
$daterangepicker-border-color: #ccc !default;
$daterangepicker-border-radius: 4px !default;

//
// Calendar
$daterangepicker-calendar-margin: $daterangepicker-padding !default;
$daterangepicker-calendar-bg-color: $daterangepicker-bg-color !default;

$daterangepicker-calendar-border-size: 1px !default;
$daterangepicker-calendar-border-color: $daterangepicker-bg-color !default;
$daterangepicker-calendar-border-radius: $daterangepicker-border-radius !default;

//
// Calendar Cells
$daterangepicker-cell-size: 20px !default;
$daterangepicker-cell-width: $daterangepicker-cell-size !default;
$daterangepicker-cell-height: $daterangepicker-cell-size !default;

$daterangepicker-cell-border-radius: $daterangepicker-calendar-border-radius !default;
$daterangepicker-cell-border-size: 1px !default;

//
// Dropdowns
$daterangepicker-dropdown-z-index: $daterangepicker-z-index + 1 !default;

//
// Controls
$daterangepicker-control-height: 30px !default;
$daterangepicker-control-line-height: $daterangepicker-control-height !default;
$daterangepicker-control-color: #555 !default;

$daterangepicker-control-border-size: 1px !default;
$daterangepicker-control-border-color: $color-2 !default;
$daterangepicker-control-border-radius: 0 !default;

$daterangepicker-control-active-border-size: 1px !default;
$daterangepicker-control-active-border-color: $color-2 !default;
$daterangepicker-control-active-border-radius: $daterangepicker-control-border-radius !default;

$daterangepicker-control-disabled-color: #ccc !default;

//
// Ranges
$daterangepicker-ranges-color: #08c !default;
$daterangepicker-ranges-bg-color: #f5f5f5 !default;

$daterangepicker-ranges-border-size: 1px !default;
$daterangepicker-ranges-border-color: $daterangepicker-ranges-bg-color !default;
$daterangepicker-ranges-border-radius: $daterangepicker-border-radius !default;

$daterangepicker-ranges-hover-color: #fff !default;
$daterangepicker-ranges-hover-bg-color: $daterangepicker-ranges-color !default;
$daterangepicker-ranges-hover-border-size: $daterangepicker-ranges-border-size !default;
$daterangepicker-ranges-hover-border-color: $daterangepicker-ranges-hover-bg-color !default;
$daterangepicker-ranges-hover-border-radius: $daterangepicker-border-radius !default;

$daterangepicker-ranges-active-border-size: $daterangepicker-ranges-border-size !default;
$daterangepicker-ranges-active-border-color: $daterangepicker-ranges-bg-color !default;
$daterangepicker-ranges-active-border-radius: $daterangepicker-border-radius !default;

//
// STYLESHEETS
//
.#{$prefix-class} {
	position: absolute;
	color: $daterangepicker-color;
	background: $daterangepicker-bg-color;
	width: $daterangepicker-width;
	padding: $daterangepicker-padding;
	margin-top: 12px;
	@include br(none);
	top: 100px;
	left: 20px;
	border: 1px solid $color-2;
	@include clearfix();
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: -8px;
		left: 8px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 8px 8px;
		border-color: transparent transparent $color-2 transparent;
	}

	&.opensleft {
		&:before {
			left: auto;
			right: 8px;
		}
	}
	&.openscenter {
		&:before {
			left: 0;
			right: 0;
			width: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.opensright {}
	&.dropup {
		margin-top: -12px;
		&:before {
			top: auto;
			bottom: -8px;
			border-width: 8px 8px 0 8px;
			border-color: $color-2 transparent transparent transparent;
		}
	}

	&.dropdown-menu {
		max-width: none;
		z-index: $daterangepicker-dropdown-z-index;
	}

	&.single {
		.ranges, .calendar {
			float: none;
		}
	}

	/* Calendars */
	&.show-calendar {
		.calendar {
			display: block;
		}
	}

	.calendar {
		display: none;
		max-width: $daterangepicker-width - ($daterangepicker-calendar-margin * 2);
		margin: $daterangepicker-calendar-margin;

		&.single {
			margin: 4px !important;
			.calendar-table {
				border: none;
				padding: 0 !important;
			}
		}

		th, td {
			white-space: nowrap;
			text-align: center;
			min-width: 28px;
		}
	}

	.calendar-table {
		border: none;
		padding: 0;
		@include br(0);
		background: transparent;
	}

	table {
		width: 100%;
		margin: 0;
	}

	td, th {
		text-align: center;
		@include br(0);
		border: none;
		white-space: nowrap;
		cursor: pointer;
		font-size: $font-0875;
		line-height: 22px;
		padding: 3px !important;
		&.available {
			&:hover {
				background-color: rgba(0, 188, 212, 0.7);
				color: #ffffff;
			}
		}
		&.week {
			font-size: 80%;
			color: #ccc;
		}
		.fa {
			display: block;
			line-height: inherit;
			text-align: center;
		}
	}

	td {
		&.off {
			background-color: $daterangepicker-unselected-bg-color;
			border-color: $daterangepicker-unselected-border-color;
			color: $daterangepicker-unselected-color;
			&, &.start-date, &.end-date {

			}
		}

		//
		// Date Range
		&.in-range {
			&, &.off {
				background-color: rgba(0, 188, 212, 0.2);
				&.active {
					background-color: $color-2;
				}
			}
			&.off {
				&:hover {
					color: $daterangepicker-unselected-color;
				}
				&.active {
					&:hover {
						color: #ffffff;
					}
				}
			}
		}

		&.start-date {

		}

		&.end-date {

		}

		&.start-date.end-date {

		}

		&.active {
			&, &:hover {
				background-color: $color-2;
				color: #ffffff;
			}
		}
	}

	th {
		&.month {
			width: auto;
		}
		&.available {
			&:hover {
				background-color: transparent;
				color: $color-2;
			}
		}
	}

	//
	// Disabled Controls
	//
	td, option {
		&.disabled {
			color: #999;
			cursor: not-allowed;
			text-decoration: line-through;
		}
	}

	select {
		&.monthselect, &.yearselect {
			font-size: 12px;
			padding: 1px;
			height: auto;
			margin: 0;
			cursor: default;
		}

		&.monthselect {
			margin-right: 2%;
			width: 56%;
		}

		&.yearselect {
			width: 40%;
		}

		&.hourselect, &.minuteselect, &.secondselect, &.ampmselect {
			width: 50px;
			margin-bottom: 0;
		}
	}

	//
	// Text Input Controls (above calendar)
	//
	.input-mini {
		border: $daterangepicker-control-border-size solid $daterangepicker-control-border-color;
		border-radius: $daterangepicker-control-border-radius;
		color: $daterangepicker-control-color;
		height: $daterangepicker-control-line-height;
		line-height: $daterangepicker-control-height;
		display: block;
		vertical-align: middle;
		font-size: $font-0875;

		// TODO: Should these all be static, too??
		margin: 0 0 5px 0;
		padding: 0 6px 0 28px;
		width: 100%;

		&.active {
			border: $daterangepicker-control-active-border-size solid $daterangepicker-control-active-border-color;
			border-radius: $daterangepicker-control-active-border-radius;
		}
	}

	.daterangepicker_input {
		position: relative;

		i {
			position: absolute;

			// NOTE: These appear to be eyeballed to me...
			left: 8px;
			top: 8px;
		}
	}

	//
	// Time Picker
	//
	.calendar-time {
		text-align: center;
		margin: 5px auto;
		line-height: $daterangepicker-control-line-height;
		position: relative;
		padding-left: 28px;

		select {
			&.disabled {
				color: $daterangepicker-control-disabled-color;
				cursor: not-allowed;
			}
		}
	}
}

//
// Predefined Ranges
//

.ranges {
	float: none;
	margin: 4px;
	text-align: left;
	@include clearfix();
	ul {
		display: block;
		list-style: none;
		margin: 0 auto;
		padding: 0;
		li {
			display: block;
			font-size: $font-0750;
			line-height: 16px;
			padding: 3px 10px;
			margin-bottom: 4px;
			color: $color-text-2;
			background: transparent;
			cursor: pointer;
			&:hover, &.active {
				background: $color-2;
				color: #ffffff;
			}
		}
		+ .range_inputs {
			margin-top: 6px;
		}
	}
	.range_inputs {
		float: right;
	}
}

/*  Larger Screen Styling */
@media (min-width: 564px) {
	.#{$prefix-class} {
		width: auto;

		.ranges {
			ul {
				width: 160px;
			}
		}

		&.single {
			.ranges {
				ul {
					width: 100%;
				}
			}

			.calendar.left {
				clear: none;
			}

			.calendar {
				float: left;
			}
		}

		.calendar {
			&.left {
				clear: left;
				margin-right: 0;

				.calendar-table {
					border-right: none;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			&.right {
				margin-left: 0;

				.calendar-table {
					border-left: none;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}

		.left .daterangepicker_input {
			padding-right: 12px;
		}

		.calendar.left .calendar-table {
			padding-right: 12px;
		}

		.calendar {
			float: left;
		}
	}
}

@media (min-width: 730px) {
	.#{$prefix-class} {
		.ranges {
			width: auto;
			&:first-child {
				float: left;
			}
		}

		.calendar.left {
			clear: none;
		}
	}
}
