.mtFileManager {
	background: #ffffff;
	border: 1px solid $color-2;
	.mtFileManagerTopBar {
		padding: 10px 9px 11px 9px;
		border-bottom: 1px solid #E8E8E8;
		@include clearfix();
		.mtFileManagerTopBarLeft {
			float: left;
			h2 {
				display: block;
				line-height: 36px;
				font-size: $font-15;
				color: $color-text-black;
				font-weight: 700;
			}
		}
		.mtFileManagerTopBarRight {
			float: right;

		}
	}
	.mtFileManagerHeader {
		padding: 10px 9px;
		background: #ffffff;
		border-bottom: 1px solid #E8E8E8;
		@include clearfix();
		.mtFileManagerHeaderLeft {
			float: left;
		}
		.mtFileManagerHeaderRight {
			float: right;
		}
		.btn {
			font-size: 16px;
			padding: 7px;
			line-height: 1;
			i {
				display: block;
				min-width: 16px;
			}
		}
	}
	.mtFileManagerBody {
		position: relative;
		background: #ffffff;
		@include clearfix();
		&:before {
			content: "";
			display: block;
			width: 1px;
			height: 100%;
			background: #E8E8E8;
			position: absolute;
			left: 25%;
			top: 0;
		}
		.mtFileManagerBodyTree {
			float: left;
			width: 25%;
			padding: 10px 0;
			@include clearfix();
			.mtFileManagerBodyTreeTop {
				padding: 0 10px 0 9px;
			}
			.mtFileManagerBodyTreeBottom {
				border-top: 1px solid #E8E8E8;
				margin: 10px 0 0 0;
				padding: 10px 10px 0 9px;
				height: 500px;
				overflow: scroll;
				.mtFileManagerBodyTreeContent {
					> .mtFileManagerBodyTreeFolder {
						&:first-child {
							margin: 0;
						}
					}
					.mtFileManagerBodyTreeFolder {
						position: relative;
						margin: 2px 0 0 0;
						&:before {
							content: "";
							display: block;
							width: 1px;
							position: absolute;
							left: 9px;
							top: 22px;
							bottom: 0;
							background: $color-2;
						}
						.mtFileManagerBodyTreeFolder {
							&:after {
								content: "";
								display: block;
								width: 7px;
								height: 1px;
								position: absolute;
								left: -10px;
								top: 9px;
								background: $color-2;
							}
						}
						> button {
							display: block;
							position: relative;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-size: $font-0875;
							line-height: 20px;
							color: $color-text-black;
							padding: 0 0 0 24px;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							outline: none;
							border: none;
							background: transparent;
							&:before {
								@extend .fontAwesomeSet;
								content: $fa-var-folder-open-o;
								display: block;
								position: absolute;
								left: 0;
								top: 0;
								font-size: 20px;
								line-height: 1;
								color: $color-2;
							}
							&.collapsed {
								&:before {
									content: $fa-var-folder-o;
								}
							}
							&:active, &:focus {
								color: $color-2;
							}
						}
						.mtFileManagerBodyTreeFolderIn {
							position: relative;
							padding-left: 20px;
							> a {
								display: block;
								position: relative;
								text-overflow: ellipsis;
								white-space: nowrap;
								font-size: $font-0875;
								line-height: 20px;
								color: $color-text-black;
								padding: 0 0 0 22px;
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								outline: none;
								border: none;
								background: transparent;
								&:before {
									@extend .fontAwesomeSet;
									content: $fa-var-user;
									display: block;
									position: absolute;
									left: 0;
									top: 0;
									font-size: 18px;
									line-height: 20px;
									color: $color-2;
								}
								&:after {
									content: "";
									display: block;
									width: 7px;
									height: 1px;
									position: absolute;
									left: -10px;
									top: 9px;
									background: $color-2;
								}
								&:active, &:focus {
									color: $color-2;
								}
								&.roleFolderAdd {
									&:before {
										font-size: 16px;
										content: $fa-var-user-plus;
									}
								}
							}
						}
					}
				}
			}
		}
		.mtFileManagerBodyContent {
			float: left;
			width: 75%;
			.mtFileManagerBodyContentTop {
				padding: 10px 9px;
				@include clearfix();
				.mtFileManagerBodyContentTopLeft {
					float: left;
				}
				.mtFileManagerBodyContentTopRight {
					float: right;
				}
				.btn {
					width: 40px;
					font-size: 16px;
					line-height: 1;
					padding: 9px 7px;
					i {
						display: block;
						min-width: 16px;
					}
				}
			}
			.mtFileManagerBodyContentBottom {
				height: 500px;
				overflow: auto;
				border-top: 1px solid #E8E8E8;
				@include clearfix();
				.mtFileManagerBodyContentBottomIn {
					.mtFileManagerItem {
						position: relative;
						display: block;
						margin: 0;
						padding: 0;
						font-weight: 400;
						font-size: $font-1;
					}
					&.gridView {
						@include clearfix();
						padding: 0 10px 10px 0;
						.mtFileManagerTableViewTop {
							display: none;
						}
						.mtFileManagerItem {
							float: left;
							width: 150px;
							height: 150px;
							margin: 10px 0 0 10px;
							border: 1px solid rgba($color-2, 0.25);
							padding: 5px;
							.mtFileManagerItem-checkbox {
								display: block;
								position: absolute;
								top: 0;
								left: 0;
								z-index: 1;
								width: 100%;
								height: 100%;
								input[type=checkbox] {
									width: 100%;
									height: 100%;
									margin: 0;
									padding: 0;
									-webkit-appearance: none;
									-moz-appearance: none;
									appearance: none;
									border: none;
									outline: none;
									background: $color-2;
									@include opacity(0);
									&:checked {
										@include opacity(0.1);
									}
								}
							}
							* {
								position: relative;
								z-index: 2;
							}
							.mtFileManagerItem-type {
								position: absolute;
								display: block;
								left: 5px;
								top: 5px;
								right: 5px;
								bottom: 34px;
								i {
									position: relative;
									display: block;
									width: 100%;
									height: 100%;
									line-height: 1;
									font-size: 60px;
									border: 1px solid $color-2;
									&:before {
										position: absolute;
										left: 50%;
										top: 50%;
										@include translate(-50%, -50%);
									}
								}
							}
							.mtFileManagerItem-name {
								position: absolute;
								display: block;
								left: 5px;
								right: 5px;
								bottom: 5px;
								height: 24px;
								overflow: hidden;
								font-size: $font-0750;
								line-height: 1;
								color: $color-text-black;
								text-align: center;
								vertical-align: middle;
								letter-spacing: -4px;
								* {
									letter-spacing: 0;
								}
								&:before {
									content: "";
									display: inline-block;
									width: 0;
									height: 100%;
									vertical-align: middle;
								}
								span {
									display: inline-block;
									vertical-align: middle;
								}
							}
							.mtFileManagerItem-size, .mtFileManagerItem-modified, .mtFileManagerItem-extension, .mtFileManagerItem-permissions {
								display: none;
							}
							&:hover {
								input[type=checkbox] {
									@include opacity(0.05);
									&:checked {
										@include opacity(0.1);
									}
								}
							}
						}
					}
					&.listView {
						display: table;
						width: 100%;
						font-size: $font-0875;
						border-collapse: separate;
						border-spacing: 0;
						> section, > label {
							> span {
								padding: 8px;
								line-height: 1.42857;
								border: 1px solid rgb(232, 232, 232);
								border-top: none;
								border-left: none;
								&:first-child {
									border-left: 1px solid rgb(232, 232, 232);
								}
							}
						}
						.mtFileManagerTableViewTop {
							display: table-row;
							> span {
								display: table-cell;
								vertical-align: bottom;
								font-weight: 700;
							}
						}
						.mtFileManagerItem {
							display: table-row;
							> span {
								display: table-cell;
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}
}

.productsGalleryWrap {
	.productsGalleryWrapHeader {
		margin: 0 -10px;
		padding: 0 10px 10px 10px;
		border-bottom: 1px solid #E8E8E8;
		@include clearfix();
		.productsGalleryWrapHeaderLeft {
			float: left;
		}
		.productsGalleryWrapHeaderRight {
			float: right;
		}
		.productsGalleryWrapHeaderLeft, .productsGalleryWrapHeaderRight {
			margin: 0 0 0 -10px;
			@include clearfix();
			> div {
				float: left;
				margin: 0 0 0 10px;
				.mtCheckbox, .mtRadio {
					margin: 8px 0;
				}
				.input-group {
					max-width: 200px;
				}
				.productsGalleryWrapHeaderSelect {
					@include clearfix();
					> label {
						float: left;
						display: block;
						height: 36px;
						line-height: 36px;
						margin: 0;
						padding: 0;
					}
					> div {
						float: left;
						margin-left: 10px;
						.selectize-control {
							.selectize-input {
								padding: 7px 20px 7px 10px;
								&.focus,&:focus {
									padding: 6px 19px 6px 9px;
								}
							}
						}
					}
				}
			}
		}
	}
	.productsGalleryWrapBody {
		padding: 0 0 10px 0;
		.productsGalleryItem {
			margin-top: 10px;
			&.ui-sortable-placeholder {
				visibility: visible!important;
				&:before {
					content: "";
					display: block;
					height: 0;
					padding: 0 0 100% 0;
					background: rgba($color-2, 0.1);
				}
			}
			&.ui-sortable-helper {
				.productsGalleryItemIn {
					cursor: grabbing;
					cursor: -webkit-grabbing;
					cursor: -moz-grabbing;
				}
			}
			.productsGalleryItemIn {
				position: relative;
				height: 0;
				margin: 0;
				padding: 0 0 100% 0;
				font-weight: 400;
				font-size: $font-1;
				background: #ffffff;
				cursor: grab;
				cursor: -webkit-grab;
				cursor: -moz-grab;
				.productsGalleryItemInside {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					padding: 5px;
					border: 1px solid rgba($color-2, 0.25);
					.productsGalleryItemImg {
						position: absolute;
						display: block;
						left: 5px;
						top: 5px;
						right: 5px;
						bottom: 33px;
						padding: 2px;
						border: 1px solid $color-2;
						overflow: hidden;
						button {
							position: relative;
							display: block;
							width: 100%;
							height: 100%;
							padding: 0;
							margin: 0;
							background: transparent;
							border: none;
							outline: none;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							overflow: hidden;
							i {
								position: absolute;
								left: 0;
								top: 0;
								display: block;
								width: 100%;
								height: 100%;
								line-height: 1;
								font-size: 60px;
								&:before {
									position: absolute;
									left: 50%;
									top: 50%;
									@include translate(-50%, -50%);
								}
							}
							img {
								display: block;
								max-width: 100%;
								position: absolute;
								left: 50%;
								top: 50%;
								@include translate(-50%, -50%);
								-webkit-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
								pointer-events: none;
							}
						}
					}
					.productsGalleryItemInfo {
						position: absolute;
						left: 5px;
						right: 5px;
						bottom: 5px;
						height: 24px;
						.productsGalleryItemInfoLeft {
							position: absolute;
							top: 0;
							left: 0;
							right: 58px;
							height: 100%;
							.mtCheckbox, .mtRadio {
								margin: 2px 0;
								label {
									span {
										overflow: hidden;
										white-space: nowrap;
										text-overflow: ellipsis;
									}
								}
							}
						}
						.productsGalleryItemInfoRight {
							position: absolute;
							height: 100%;
							right: 0;
							top: 0;
							@include clearfix();
							.btn-group {
								display: block;
								@include clearfix();
								&.btn-group-sm {
									> .btn {
										display: block;
										padding: 0;
										width: 24px;
										text-align: center;
										font-size: 12px;
										line-height: 22px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media #{$lg} {
	.productsGalleryWrap {
		.productsGalleryWrapBody {
			.productsGalleryItem {
				width: 20%;
			}
		}
	}
}