label {
  font-size: $font-0875;
  margin-bottom: 5px;
}

.quickExample {
  p {
    font-size: $font-0750;
    margin-top: 5px;
  }
}

.inputAddon {
  h4 {
    margin: 15px 0;
  }
  p {
    font-size: $font-0750;
    margin: 10px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 7px 10px;
  font-size: $font-0875;
  line-height: 20px;
  color: $color-text-2;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid $color-2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include br(0);
  @include box-shadow(none !important);
  &:focus {
    border: 2px solid $color-2;
    padding: 6px 9px;
    outline: 0;
    @include box-shadow(none);
    &::-moz-placeholder {
      @include opacity(1);
    }
    &:-ms-input-placeholder {
      @include opacity(1);
    }
    &::-webkit-input-placeholder {
      @include opacity(1);
    }
  }
  &.input-sm {
    height: 28px;
    line-height: 16px;
    padding: 6px 10px;
    font-size: $font-0750;
    &:focus {
      padding: 5px 9px;
    }
  }
  &.input-lg {
    height: 48px;
    line-height: 30px;
    padding: 8px 12px;
    font-size: $font-1125;
    &:focus {
      padding: 7px 11px;
    }
  }
  &::-moz-placeholder {
    color: $color-text-2;;
    @include opacity(0.85);
  }
  &:-ms-input-placeholder {
    color: $color-text-2;;
    @include opacity(0.85);
  }
  &::-webkit-input-placeholder {
    color: $color-text-2;;
    @include opacity(0.85);
  }
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.form-control
}

select.input-sm, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, .input-group-sm > .input-group-btn > select.btn {
  line-height: 20px;
  &:focus {
    line-height: 16px;
  }
}

@mixin checkbox-color($color) {
  label {
    span {
      &:before {
        border-color: $color;
      }
      &:after {
        background: $color;
      }
    }
  }
}

.mtCheckbox, .mtRadio {
  display: block;
  margin: 10px 0;
  @include clearfix();
  label {
    float: left;
    display: block;
    margin: 0;
    font-size: $font-0875;
    line-height: 20px;
    color: $color-text-black;
    font-weight: 400;
    cursor: pointer;
    input[type=checkbox], input[type=radio] {
      display: none;
      &:checked {
        + span {
          &:after {
            @include opacity(1);
          }
        }
        &:disabled {
          + span {
            &:after {
              @include opacity(0.6);
              background-color: $color-2-hover;
            }
          }
        }
      }
      &:disabled {
        + span {
          &:before, &:after {
            cursor: not-allowed;
            border-color: $color-2-hover;
          }
          &:before {
            @include opacity(0.6);
          }
        }
      }
    }
    input[type=radio] {
      + span {
        &:before, &:after {
          @include br(50%);
        }
        &:after {
          width: 10px;
          height: 10px;
          left: 5px;
          top: 5px;
        }
      }
    }
    span {
      position: relative;
      display: block;
      padding-left: 30px;
      min-height: 20px;
      &:empty {
        padding-left: 20px;
      }
      &:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 1;
        border: 1px solid $color-2;
        left: 0;
        top: 0;
      }
      &:after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        position: absolute;
        z-index: 1;
        background: $color-2;
        left: 3px;
        top: 3px;
        @include transition(all 0.3s);
        @include opacity(0);
      }
    }
  }
  &[class*="-lg"] {
    label {
      font-size: $font-1;
      line-height: 24px;
      input[type=radio] {
        + span {
          &:after {
            width: 14px;
            height: 14px;
            left: 5px;
            top: 5px;
          }
        }
      }
      span {
        min-height: 24px;
        padding-left: 34px;
        &:empty {
          padding-left: 24px;
        }
        &:before {
          width: 24px;
          height: 24px;
        }
        &:after {
          width: 18px;
          height: 18px;
          left: 3px;
          top: 3px;
          @include transition(all 0.3s);
          @include opacity(0);
        }
      }
    }
  }
  &[class*="-sm"] {
    label {
      font-size: $font-0750;
      line-height: 16px;
      input[type=radio] {
        + span {
          &:after {
            width: 8px;
            height: 8px;
            left: 4px;
            top: 4px;
          }
        }
      }
      span {
        min-height: 16px;
        padding-left: 22px;
        &:empty {
          padding-left: 16px;
        }
        &:before {
          width: 16px;
          height: 16px;
        }
        &:after {
          width: 10px;
          height: 10px;
          left: 3px;
          top: 3px;
          @include transition(all 0.3s);
          @include opacity(0);
        }
      }
    }
  }
  &[class*="-bg"] {
    background: transparent !important;
  }
  &.color-1-bg {
    @include checkbox-color($color-1);
  }
  &.color-info-bg {
    @include checkbox-color($color-info);
  }
  &.color-success-bg {
    @include checkbox-color($color-success);
  }
  &.color-blue-bg {
    @include checkbox-color($color-blue);
  }
  &.color-error-bg {
    @include checkbox-color($color-error);
  }
  &.color-orange-bg {
    @include checkbox-color($color-orange);
  }
  &.color-red-bg {
    @include checkbox-color($color-red);
  }
  &.color-green-bg {
    @include checkbox-color($color-green);
  }
}

.form-group {
  margin-bottom: 10px;
  .form-group-in {
    @include clearfix();
    .mtCheckbox, .mtRadio {
      &:first-child {
        margin-top: 0;
        &.pull-left {
          margin-left: 0;
        }
        &.pull-right {
          margin-right: 0;
        }
      }
      &.pull-left {
        margin: 0 0 0 10px;
      }
      &.pull-right {
        margin: 0 10px 0 0;
      }
    }
  }
  input {
    + .mtCheckbox, + .mtRadio {
      margin-bottom: 0;
    }
  }
}

.table {
  .mtCheckbox, .mtRadio {
    margin: 0;
  }
}

.mt-input-group-addon {
  display: table-cell;
  width: 1%;
  margin: 0;
  padding: 0 7px 0 8px;
  background: #ffffff;
  border: 1px solid $color-2;
  white-space: nowrap;
  vertical-align: middle;
  letter-spacing: -4px;
  * {
    letter-spacing: 0;
  }
  &:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  label {
    vertical-align: middle;
    span {
      padding-left: 20px;
    }
  }
  &[class*="-lg"] {
    label {
      span {
        padding-left: 24px;
      }
    }
  }
  &[class*="-sm"] {
    label {
      span {
        padding-left: 16px;
      }
    }
  }
  &:first-child {
    border-right: 0;
  }
  &:last-child {
    border-left: 0;
  }
}

.input-group-addon {
  border: 1px solid $color-2;
}