.mtadminColorPalette {
	.mtadminColorPaletteIn {
		h2 {
			line-height: 24px;
			font-size: $font-1;
			font-weight: 700;
			color: $color-text-2;
		}
		> ul {
			display: block;
			margin: 0;
			padding: 4px 0 0 0;
			list-style: none;
			@include clearfix();
			> li {
				position: relative;
				display: table;
				width: 100%;
				height: 36px;
				@include clearfix();
				&:hover {
					> h3 {
						@include opacity(1);
					}
				}
				> div {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 1;
				}
				> h3 {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
					padding-left: 10px;
					padding-right: 10px;
					position: relative;
					z-index: 2;
					text-align: center;
					font-size: $font-0875;
					line-height: 18px;
					color: $color-text-white;
					@include opacity(0);
					@include transition(all 0.3s);
				}
			}
		}
	}
}

/* Alert */
.alert {
	.closeIcon {
		color: $white;
		margin-top: -5px;
		font-size: $font-0750;
	}
	h4 {
		font-weight: 600;
		color: $white;
		i {
			margin-right: 10px;
		}
	}
	p {
		font-size: $font-0750;
		margin-top: 10px;
		color: $white;
	}
}

.errorBorderColor {
	border-color: $color-red-hover !important;
}

.infoBorderColor {
	border-color: $color-blue !important;
}

.warningBorderColor {
	border-color: $color-warning-hover !important;
}

.successBorderColor {
	border-color: $color-success-hover !important;
}

/* Alerts End */

/* Progress Bar */
.progress-sm {
	height: 10px;
}

.progress-xs {
	height: 7px;
}

.progress-xxs {
	height: 3px;
}

.progressVertical {
	.vertical {
		position: relative;
		width: 30px;
		height: 200px;
		display: inline-block;
		margin-right: 10px;
		> .progress-bar {
			width: 100%;
			position: absolute;
			bottom: 0;
		}
	}
	.progress-sm {
		width: 10px;
	}
	.progress-xs {
		width: 7px;
	}
	.progress-xxs {
		width: 3px;
	}

}

/* Progress Bar End */