::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	background-color: #b3b3b3;
}

.contentWrapTop {
	padding: 10px 15px;
	.contentWrapTopLeft {
		float: left;
		h1 {
			display: block;
			font-size: $font-1250;
			line-height: 1;
			font-weight: 700;
			color: $color-text-black;
		}
	}
	.contentWrapTopRight {
		float: right;
		ul {
			display: block;
			padding: 0;
			margin: 0;
			list-style: none;
			@include clearfix();
			li {
				float: left;
				display: block;
				margin-left: 5px;
				font-size: $font-0750;
				line-height: 20px;
				color: $color-text-1;
				@include clearfix();
				&:before {
					content: "\f105";
					float: left;
					@extend .fontAwesomeSet;
					font-size: 14px;
					margin: 0 5px 0 0;
				}
				&:first-child {
					margin-left: 0;
					&:before {
						display: none;
					}
				}
				&:last-child {
					a {
						pointer-events: none;
						color: $color-text-2;
					}
				}
				a {
					float: left;
					display: block;
					color: inherit;
					line-height: inherit;
					@include clearfix();
					@include transition(all 0.3s);
					&:hover {
						color: $color-text-2;
					}
					i {
						float: left;
						display: block;
						line-height: inherit;
						min-width: 16px;
					}
					span {
						float: left;
						display: block;
						line-height: inherit;
					}
				}
			}
		}
	}
}

.contentWrap {
	padding: 0 15px;
	p {
		display: block;
		padding: 0;
		margin: 0 0 10px 0;
	}
}

@media #{$mdtosm} {
	.container {
		width: auto;
	}
}

@media #{$sm} {
	.container {
		padding-left: $grid-gutter-width-sm/2;
		padding-right: $grid-gutter-width-sm/2;
	}

	.row {
		margin-left: -$grid-gutter-width-sm/2;
		margin-right: -$grid-gutter-width-sm/2;
	}

	[class*="col-"] {
		padding-left: $grid-gutter-width-sm/2;
		padding-right: $grid-gutter-width-sm/2;
	}
}

@media #{$smPortrait} {

}

@media #{$xs} {
	.container {
		padding-left: $grid-gutter-width-xs/2;
		padding-right: $grid-gutter-width-xs/2;
	}

	.row {
		margin-left: -$grid-gutter-width-xs/2;
		margin-right: -$grid-gutter-width-xs/2;
	}

	[class*="col-"] {
		padding-left: $grid-gutter-width-xs/2;
		padding-right: $grid-gutter-width-xs/2;
	}
}