.callout{
  border-radius: 3px;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid transparent;
  color: #fff;
  margin-bottom: 20px;
  h4{
    font-size:$font-1125;
    font-weight: 600;
    margin-bottom:10px;
  }
  p{
    font-size:$font-0750;
    a{
      color:$white;
      text-decoration: underline;
    }
  }
}
.modalExample{
  .modal{
    display:block;
    position:relative;
  }
}
.borderColor{
  border-color:transparent;
}
.textColor{
  color: $white;
}
.modalImgListWrap {
  > h2 {
    display: block;
    font-size: $font-1;
    line-height: 20px;
    padding: 0 0 10px 0;
  }
  .modalImg {
    img {
      display: block;
      max-width: 100%;
    }
  }
  .modalImgTools {
    @include clearfix();
    .modalImgDesc {
      float: left;
      max-width: 50%;
      padding-right: 20px;
      ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
        @include clearfix();
        li {
          display: block;
          font-size: $font-0875;
          line-height: 16px;
          padding: 5px 0 0 0;
          &:first-child {
            padding: 0;
          }
        }
      }
    }
    .modalImgBtns {
      float: left;
    }
  }
}