.rangeSliderWrap {
	@include clearfix();
}

.rangeSliderValWrap {
	padding-top: 8px;
	.rangeSliderVal {
		display: block;
		font-size: $font-0750;
		line-height: 14px;
		color: #a8a8a8;
		font-weight: 700;
		span {
			font-weight: 400;
		}
	}
	.row {
		> .col-xs-6 {
			+ .col-xs-6 {
				&:before {
					content: "-";
					position: absolute;
					left: -3px;
					top: 50%;
					margin-top: -1px;
					width: 6px;
					line-height: 30px;
					color: #ccc;
					font-size: 12px;
				}
			}
		}
	}
}