/**
 * selectize.default.css (v0.12.1) - Default Theme
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */

.selectize-dropdown-header {
	position: relative;
	padding: 5px 8px;
	border-bottom: 1px solid #d0d0d0;
	background: #f8f8f8;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.selectize-dropdown-header-close {
	position: absolute;
	right: 8px;
	top: 50%;
	color: #303030;
	opacity: 0.4;
	margin-top: -12px;
	line-height: 20px;
	font-size: 20px !important;
}

.selectize-dropdown-header-close:hover {
	color: #000000;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
	border-right: 0 none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
	display: none;
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
	border-top: 0 none;
}

.selectize-control {
	position: relative;
	height: 36px;
	&.single {
		.selectize-input {
			&:after {
				position: absolute;
				right: 9px;
				top: -1px;
				content: "\f0d7";
				height: 36px;
				line-height: 36px;
				font-size: 12px;
				text-align: center;
				color: $color-2;
				@extend .fontAwesomeSet;
			}
			&.dropdown-active {
				&:after {
					right: 8px;
					top: -2px;
					content: "\f0d8";
				}
			}
			&.focus {
				&:after {
					right: 8px;
					top: -2px;
				}
			}
		}
	}
	&.multi {
		height: auto;
		.selectize-input {
			height: auto;
			&.focus {
				padding: 6px 9px;
				&.has-items {
					padding: 6px 4px 3px 4px;
				}
			}
			&.has-items {
				padding: 7px 5px 4px 5px;
			}
		}
	}
	&.plugin-remove_button {
		[data-value] {
			position: relative;
			padding-right: 25px !important;
			.remove {
				z-index: 1;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 20px;
				line-height: 20px;
				text-align: center;
				text-decoration: none;
				display: block;
				color: rgba(255, 255, 255, 0);
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					width: 1px;
					height: 100%;
					background: $color-2;
				}
				&:after {
					content: "\f00d";
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					width: 100%;
					height: 100%;
					font-size: 12px;
					line-height: inherit;
					color: $color-2;
					@extend .fontAwesomeSet;
				}
				&:hover {
					background: $color-2;
					&:after {
						color: #ffffff;
					}
				}
			}
			&.active {
				.remove {
					&:before {
						background: #ffffff;
					}
					&:after {
						color: #ffffff;
					}
				}
			}
		}
		.disabled {
			[data-value] {
				.remove {
					&:before {
						background: #ffffff;
					}
					&:after {
						color: #ffffff;
					}
					&:hover {
						background: none;
					}
				}
			}
		}
	}
	&.plugin-drag_drop {
		&.multi {
			> .selectize-input {
				> div.ui-sortable-placeholder {
					visibility: visible !important;
					background: $color-2 !important;
					border: 0 none !important;
					@include bs(0);
					@include opacity(0.2);
				}
			}
		}
		.ui-sortable-placeholder {
			&:after {
				content: '!';
				visibility: hidden;
			}
		}
	}
	&.plugin-optgroup_columns {
		.selectize-dropdown {
			.optgroup {
				float: none;
				display: table-cell;
				border-right: 1px solid #f2f2f2;
				border-top: 0 none;
			}
		}
		.selectize-input {
			&.dropdown-active {
				+ .selectize-dropdown {
					.selectize-dropdown-content {
						display: table !important;
						width: 100%;
					}
				}
			}
		}
	}
	&.selectize-sm {
		height: 30px;
		&.single {
			.selectize-input {
				&:after {
					right: 9px;
					top: -1px;
					height: 30px;
					line-height: 30px;
				}
				&.dropdown-active {
					&:after {
						right: 8px;
						top: -2px;
						content: "\f0d8";
					}
				}
				&.focus {
					&:after {
						right: 8px;
						top: -2px;
					}
				}
			}
		}
		&.multi {
			height: auto;
			.selectize-input {
				height: auto;
				&.focus {
					padding: 5px 9px;
					&.has-items {
						padding: 5px 4px 1px 4px;
					}
				}
				&.has-items {
					padding: 6px 5px 3px 5px;
				}
				> div {
					position: relative;
					cursor: pointer;
					margin: 0 3px 3px 0;
					padding: 0 5px;
					font-size: $font-1;
				}
			}
		}
		.selectize-dropdown, .selectize-input {
			font-size: $font-0750;
			line-height: 16px;
		}
		.selectize-input {
			height: 30px;
			padding: 6px 10px;
			&.focus {
				padding: 5px 9px;
			}
		}
	}
}

.selectize-dropdown, .selectize-input {
	color: $color-text-2;
	font-family: inherit;
	font-size: $font-0875;
	line-height: 20px;
	input {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

.selectize-input,
.selectize-control.single .selectize-input.input-active {
	background: #ffffff;
	cursor: text;
	display: inline-block;
}

.selectize-input {
	position: relative;
	overflow: hidden;
	z-index: 1;
	display: block;
	width: 100%;
	height: 36px;
	padding: 7px 10px;
	line-height: 20px;
	color: $color-text-2;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid $color-2;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@include clearfix();
	&.disabled {
		@include opacity(0.65);
		cursor: not-allowed;
		* {
			cursor: not-allowed;
		}
	}
	&.focus {
		padding: 6px 9px;
		border: 2px solid $color-2;
		> input {
			&::-moz-placeholder {
				@include opacity(1);
			}
			&:-ms-input-placeholder {
				@include opacity(1);
			}
			&::-webkit-input-placeholder {
				@include opacity(1);
			}
		}
	}
	> * {
		float: left;
		display: block;
	}
	> input {
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: 0 1px !important;
		text-indent: 0 !important;
		border: 0 none !important;
		color: inherit;
		background: none !important;
		line-height: inherit !important;
		-webkit-user-select: auto !important;
		@include bs(none !important);
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		appearance: none !important;
		&::-moz-placeholder {
			color: $color-text-2;;
			@include opacity(0.85);
		}
		&:-ms-input-placeholder {
			color: $color-text-2;;
			@include opacity(0.85);
		}
		&::-webkit-input-placeholder {
			color: $color-text-2;;
			@include opacity(0.85);
		}
	}
}

.selectize-control.multi .selectize-input > div {
	position: relative;
	cursor: pointer;
	margin: 0 3px 3px 0;
	padding: 0 5px;
	color: $color-text-2;
	font-size: 0.857em;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid $color-2;
	}
}

.selectize-control.multi .selectize-input > div.active {
	background-color: $color-2;
	color: #ffffff;
	&:before {
		border-color: $color-2;
	}
}

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
	color: #ffffff;
	background: #d2d2d2;
	border: 1px solid #aaaaaa;
}

.selectize-input > input::-ms-clear {
	display: none;
}

.selectize-input > input:focus {
	outline: none !important;
}

.selectize-input::after {
	content: ' ';
	display: block;
	clear: left;
}

.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: #f0f0f0;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0;
}

.selectize-dropdown {
	position: absolute;
	width: 100% !important;
	top: 100% !important;
	left: 0 !important;
	z-index: 10;
	border: 2px solid $color-2;
	border-top: 0 none;
	background: #ffffff;
	margin: -1px 0 0 0;
	[data-selectable], .optgroup-header {
		padding: 5px 9px;
	}
	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
		.highlight {
			background: $color-2;
			color: #ffffff;
		}
	}
	.optgroup {
		&:first-child{
			.optgroup-header {
				border-top: 0 none;
			}
		}
		.optgroup-header {
			color: #ffffff;
			background: $color-2;
			cursor: default;
		}
	}
}

.selectize-dropdown .active {
	background-color: #f5fafd;
	color: #495c68;
}

.selectize-dropdown .active.create {
	color: #495c68;
}

.selectize-dropdown .create {
	color: rgba(48, 48, 48, 0.5);
}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
	cursor: pointer;
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
	cursor: text;
}

.selectize-control.rtl.single .selectize-input:after {
	left: 15px;
	right: auto;
}

.selectize-control.rtl .selectize-input > input {
	margin: 0 4px 0 -2px !important;
}

.selectize-control .selectize-input.disabled {
	opacity: 0.5;
	background-color: #fafafa;
}

.selectize-control.multi .selectize-input.disabled [data-value] {
	color: #999;
	text-shadow: none;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.selectize-control.multi .selectize-input.disabled [data-value],
.selectize-control.multi .selectize-input.disabled [data-value] .remove {
	border-color: #e6e6e6;
}

.selectize-control.multi .selectize-input.disabled [data-value] .remove {
	background: none;
}

.selectize-control.multi .selectize-input [data-value] {
	background-color: #ffffff;
}

.selectize-control.multi .selectize-input [data-value].active {
	background-color: $color-2;
	color: #ffffff;
	&:before {
		border-color: $color-2;
	}
}

.selectize-control.single .selectize-input {

}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {

}

.selectize-dropdown .optgroup-header {
	font-weight: 700;
	font-size: $font-0875;
}

.selectize-dropdown .optgroup {
	border-top: 1px solid #f0f0f0;
}

.selectize-dropdown .optgroup:first-child {
	border-top: 0 none;
}
