.table {
	font-size: $font-0875;
	.progress-xs{
		margin: 5px 0 0 0;
		height: 7px;
		vertical-align: middle;
	}
}

.boxPaganation {
	ul {
		margin: 0;
		padding: 10px;
		li {
			a {
				background: #fafafa;
				color: #666;
			}
		}
	}
}

.headerPag {
	ul {
		padding: 0;
	}
}