.typography {
	// Headings
	h1 {
		font-size: $font-2250;
		margin: 20px 0 10px 0;
	}
	h2 {
		font-size: $font-1875;
		margin: 20px 0 10px 0;
	}
	h3 {
		font-size: $font-15;
		margin: 20px 0 10px 0;
	}
	h4 {
		font-size: $font-1250;
		margin: 10px 0;
	}
	h5 {
		font-size: $font-0875;
		margin: 10px 0;
	}
	h6 {
		font-size: $font-0750;
		margin: 10px 0;
	}
	h1, h2, h3, h4, h5, h6 {
		&:first-child {
			margin-top: 0;
		}
	}
	// paragraph
	p {
		margin: 0 0 10px;
		font-size: $font-0875;
		&.lead {
			font-size: $font-15;
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
	// blockquote
	blockquote {
		padding: 10px 20px;
		margin: 0 0 20px 0;
		font-size: $font-1;
		border-left: 5px solid $blockquote-border-color;
		&.blockquote-reverse {
			padding: 10px 20px;
			border-right: 5px solid $blockquote-border-color;
			border-left: 0;
			text-align: right;
			footer, small, .small {
				&:before {
					content: "";
				}
				&:after {
					content: "\00A0 \2014"; // nbsp, em dash
				}
			}
		}
		p, ul, ol {
			&:last-child {
				margin-bottom: 0;
			}
		}
		footer, small, .small {
			display: block;
			font-size: 80%;
			line-height: 1.5;
			color: $blockquote-small-color;
			&:before {
				content: "\2014 \00A0"; // em dash, nbsp
			}
		}
	}
	// list
	ul, ol {
		font-size: $font-0875;
		line-height: 1.6;
		padding-left: 17px;
		ul, ol {
			padding-left: 20px;
			font-size: $font-1;
			line-height: inherit;
		}
		&.list-unstyled {
			list-style: none;
			padding-left: 0;
			ul, ol {
				padding-left: 20px;
			}
		}
	}
	// description lists
	dl {
		font-size: $font-0875;
		line-height: 1.6;
	}
}