$color-widget-progress-bg: #E2E2E2;

@mixin widget-color($bgcolor, $iconcolor, $textcolor, $progressbgcolor) {
	.mt-widgetIcon {
		background: $bgcolor;
		color: $iconcolor;
	}
	.mt-widgetContent {
		color: $textcolor;
		.progress {
			background-color: $progressbgcolor;
			.progress-bar {
				background-color: $bgcolor;
			}
		}
	}
}

@mixin widget-color-invert($primarybgcolor, $bgcolor, $iconcolor, $textcolor, $progressbgcolor) {
	background: $primarybgcolor;
	.mt-widgetIcon {
		background: $bgcolor;
		color: $iconcolor;
	}
	.mt-widgetContent {
		color: $textcolor;
		.progress {
			background-color: $bgcolor;
			.progress-bar {
				background-color: $progressbgcolor;
			}
		}
	}
}

.mt-widget {
	margin: 0 0 20px 0;
	position: relative;
	min-height: 80px;
	padding-left: 80px;
	background: #ffffff;
	@include bs(0 1px 2px rgba(0,0,0,0.15));
	.mt-widgetIcon {
		position: absolute;
		left: 0;
		top: 0;
		width: 80px;
		height: 100%;
		i {
			position: absolute;
			left: 50%;
			top: 50%;
			display: block;
			font-size: 36px;
			@include translate(-50%, -50%);
		}
	}
	.mt-widgetContent {
		padding: 8px 10px 0 10px;
		h2 {
			display: block;
			margin: 0;
			padding: 0;
			font-size: $font-0875;
			line-height: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h3 {
			display: block;
			margin: 0;
			padding: 4px 0;
			font-size: $font-1;
			line-height: 1;
			font-weight: 700;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.mt-widgetProgress {
			padding: 5px 0 0 0;
			margin: 0 -10px;
			.progress {
				height: 2px;
				margin-bottom: 0;
				@include br(0);
				@include bs(none);
				.progress-bar {
					height: 100%;
					font-size: 0;
					line-height: 0;
					text-align: center;
					@include bs(none);
				}
				+ span {
					display: block;
					padding: 4px 10px 0 10px;
					font-size: $font-0750;
				}
			}
		}
	}
	@include widget-color($color-2, #ffffff, inherit, $color-widget-progress-bg);
	&.mt-widget-color-success {
		@include widget-color($color-success, #ffffff, inherit, $color-widget-progress-bg);
	}
	&.mt-widget-color-warning {
		@include widget-color($color-warning, #ffffff, inherit, $color-widget-progress-bg);
	}
	&.mt-widget-color-error {
		@include widget-color($color-error, #ffffff, inherit, $color-widget-progress-bg);
	}
	&.mt-widget-color-invert {
		@include widget-color-invert($color-2, darken($color-2, 15%), #ffffff, #ffffff, #ffffff);
	}
	&.mt-widget-color-invert-success {
		@include widget-color-invert($color-success, darken($color-success, 15%), #ffffff, #ffffff, #ffffff);
	}
	&.mt-widget-color-invert-warning {
		@include widget-color-invert($color-warning, darken($color-warning, 15%), #ffffff, #ffffff, #ffffff);
	}
	&.mt-widget-color-invert-error {
		@include widget-color-invert($color-error, darken($color-error, 15%), #ffffff, #ffffff, #ffffff);
	}
}

@mixin widget-lg-color($bgcolor, $textcolor) {
	color: $textcolor;
	background: $bgcolor;
	.mt-widget-lg-bottom {
		a {
			background: darken($bgcolor, 10%);
			&:hover {
				background: darken($bgcolor, 15%);
			}
		}
	}
}

.mt-widget-lg {
	margin: 0 0 20px 0;
	@include bs(0 1px 2px rgba(0,0,0,0.15));
	.mt-widget-lg-top {
		position: relative;
		padding: 10px;
		min-height: 120px;
		h2 {
			font-size: $font-1875;
			font-weight: 700;
			line-height: 1;
		}
		h3 {
			font-size: $font-1;
			line-height: 20px;
			padding: 2px 0;
		}
		i {
			display: block;
			position: absolute;
			right: 10px;
			top: 10px;
			font-size: 90px;
		}
	}
	.mt-widget-lg-bottom {
		a {
			display: block;
			height: 24px;
			line-height: 24px;
			font-size: $font-0750;
			color: inherit;
			@include transition(all 0.3s);
			> span {
				display: table;
				margin: 0 auto;
				@include clearfix();
				> span, > i {
					float: left;
					display: block;
					line-height: inherit;
				}
				> i {
					font-size: 10px;
					+ span {
						margin-left: 5px;
					}
				}
				> span {
					+ i {
						margin-left: 5px;
					}
				}
			}
		}
	}
	@include widget-lg-color($color-2, #ffffff);
	&.mt-widget-lg-color-success {
		@include widget-lg-color($color-success, #ffffff);
	}
	&.mt-widget-lg-color-warning {
		@include widget-lg-color($color-warning, #ffffff);
	}
	&.mt-widget-lg-color-error {
		@include widget-lg-color($color-error, #ffffff);
	}
}