@charset "UTF-8";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* variables */

$grid-gutter-width-sm: 16px !default;
$grid-gutter-width-xs: 10px !default;

$grid-header-height: 50px !default;
$grid-header-padding-top: 7px !default;
$grid-header-padding-bottom: $grid-header-padding-top !default;

$grid-sidebar-open-width: 240px !default;
$grid-sidebar-closed-width: $grid-header-height !default;

/* helpers */

@import "helpers/helpers";

/* main styles */

@import "common";
@import "layout";

/* layouts */

@import "login";
@import "box";
@import "general";
@import "buttons";
@import "forms";
@import "tableSimple";
@import "typography";
@import "modals";
@import "widgets";
@import "range-slider";

/* modules */

@import "modules/header";
@import "modules/sidebar";
@import "modules/footer";
@import "selectize";
@import "daterangepicker";
@import "nouislider/nouislider";
@import "plupload";
@import "file-manager";
